{{ define "main" }}
<section style="margin-bottom: 100px">
  <div class="custom-col-13">
    <h1 class="praetor-top-title text-center mx-auto">
      Offer your Compute Resources and Join the Akash Providers
    </h1>
    <div>
      <p class="text-center mx-auto praetor-sub-header">
        Tailor Your Experience with Specialized Solutions
      </p>
    </div>

    <section>
      <div class="praetor-contents-wrapper">
        <div>
          <p class="praetor-text">Praetor App</p>
          <p class="praetor-desc">
            Praetor App makes it simple to become an Akash Network cloud
            provider. Instead of utilizing the Command-line Interface, you can
            use a streamlined UI to become a provider.
          </p>
          <div class="console-btns-wrapper d-flex gap-3">
            <button class="praetor-btn">
              <span class="ex-link-arrow2"
                >{{ partial "content/svg.html" "arrow-circled2" }}</span
              >
              Launch Praetor App
            </button>
          </div>
        </div>
        <div>{{ partial "content/svg.html" "cloud_new" }}</div>
      </div>
      <hr class="praetor-hr2" />
      <section>
        <h3 class="pb-4 praetor-resource-header">Praetor App Resources</h3>
        <div class="praetor-resource-wrapper">
          <div>
            <img class="" src="/mobile_img/gpu-testnet-1.png" alt="img" />
            <p class="resource-s-title">Praetor App Documentatione</p>
          </div>
          <div>
            <img class="" src="/mobile_img/gpu-testnet-1.png" alt="img" />
            <p class="resource-s-title">Akash Provider Calculator</p>
          </div>
          <div>
            <img class="" src="/mobile_img/gpu-testnet-1.png" alt="img" />
            <p class="resource-s-title">Akash Provider Status</p>
          </div>
        </div>
      </section>
      <hr class="praetor-hr2" />
      <!-- AVAILABLE OPTIONS TO DEPLOY SECTION -->
      <section>
        <h3 class="mb-5">Other Available Options to Deploy Apps</h3>
        <div class="available-op-wrapper">
          <p class="option-s-header">Terraform</p>
          <p class="available-op-desc">
            Automate Your Infrastructure Deployment on Akash with the Popular
            Infrastructure as a Code Tool
          </p>
          <div class="available-op-btn">
            <button>
              View Docs
              <span class="ex-link-arrow"
                >{{ partial "content/svg.html" "ex-link-arrow" }}</span
              >
            </button>
          </div>
        </div>
        <div class="available-op-wrapper my-4">
          <p class="option-s-header">Client Libraries</p>
          <p class="available-op-desc">
            Deploy and Manage Your Applications on Akash with Ease using the
            Command Line Interface
          </p>
          <div class="available-op-btn">
            <button>
              View Docs
              <span class="ex-link-arrow"
                >{{ partial "content/svg.html" "ex-link-arrow" }}</span
              >
            </button>
          </div>
        </div>
        <div class="available-op-wrapper">
          <p class="option-s-header">CLI</p>
          <p class="available-op-desc">
            Deploy and Manage Your Applications on Akash with Ease using the
            Command Line Interface
          </p>
          <div class="available-op-btn">
            <button>
              View Docs
              <span class="ex-link-arrow"
                >{{ partial "content/svg.html" "ex-link-arrow" }}</span
              >
            </button>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>

{{ end -}}
