{{ define "main" }}
<section style="margin-bottom: 500px">
  <div class="custom-col-13">
    <h1 class="deploy-header-text text-center mx-auto">
      Offer your Compute Resources and Join the Akash Providers
    </h1>
    <div>
      <p class="text-center mx-auto">
        Tailor Your Experience with Specialized Solutions
      </p>
    </div>

    <div class="tabs">
      <section id="tab0" class="tab-content">
        <div class="tab-contents-wrapper">
          <div>
            <p class="tab0-header">Praetor App</p>
            <p class="praetor-desc">
              Praetor App makes it simple to become an Akash Network cloud
              provider. Instead of utilizing the Command-line Interface, you can
              use a streamlined UI to become a provider.
            </p>
            <div class="console-btns-wrapper d-flex gap-3">
              <button class="console-s-btn">
                <span class="ex-link-arrow2"
                  >{{ partial "content/svg.html" "arrow-circled2" }}</span
                >
                Launch Praetor App
              </button>
            </div>
          </div>
          <div>{{ partial "content/svg.html" "cloud_new" }}</div>
        </div>
        <hr class="deploy-hr2" />
        <!-- CONSOLE RESOURCES SECTION -->
        <section>
          <h3>Console Resources</h3>
          <div class="console-resource-wrapper">
            <div>
              <img
                class=""
                src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
                alt="img"
              />
              <p class="resource-s-title">Console on youtube</p>
            </div>
            <div>
              <img
                class=""
                src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
                alt="img"
              />
              <p class="resource-s-title">Console on youtube</p>
            </div>
            <div>
              <img
                class=""
                src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
                alt="img"
              />

              <p class="resource-s-title">Console documentation</p>
            </div>
          </div>
        </section>
        <hr class="deploy-hr2" />
        <!-- AVAILABLE OPTIONS TO DEPLOY SECTION -->
        <section>
          <h3 class="mb-5">Other Available Options to Deploy Apps</h3>
          <div class="available-op-wrapper">
            <p class="option-s-header">Terraform</p>
            <p class="available-op-desc">
              Automate Your Infrastructure Deployment on Akash with the Popular
              Infrastructure as a Code Tool
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper my-4">
            <p class="option-s-header">Client Libraries</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper">
            <p class="option-s-header">CLI</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
        </section>
      </section>
      <!-- CONSOLE TABS END-->

      <!-- CLOUDMOS TABS -->
      <div id="tab1" class="tab-content" style="display: none">
        <div class="tab-contents-wrapper">
          <div>
            <p class="tab0-header">
              Try Akash Console with One click Deploy Templates
            </p>
            <p class="">There are 3 main steps to deploying on Akash.</p>
            <div class="mt-5">
              <p class="deployment-steps">
                {{ partial "content/svg.html" "box-arrow" }} View & manage your
                deployed application
              </p>
              <p class="deployment-steps">
                {{ partial "content/svg.html" "box-arrow" }} Choose a provider
                based on your preferences and desired price.
              </p>
              <p class="deployment-steps">
                {{ partial "content/svg.html" "box-arrow" }} Start with a
                template or your own custom application (SDL).
              </p>
            </div>
            <div class="console-btns-wrapper d-flex gap-3">
              <button class="console-s-btn">
                <span class="ex-link-arrow2"
                  >{{ partial "content/svg.html" "arrow-circled2" }}</span
                >
                Launch Cloudmos
              </button>
              <button class="console-s-btn">
                <span class="ex-link-arrow2"
                  >{{ partial "content/svg.html" "arrow-circled2" }}</span
                >
                Cloudmos Docs
              </button>
            </div>
          </div>
          <div>{{ partial "content/svg.html" "cloud_new" }}</div>
        </div>
        <hr class="deploy-hr2" />
        <!-- CLOUDMOS RESOURCES -->
        <section>
          <h3>Console Resources</h3>
          <div class="console-resource-wrapper">
            <div>
              <img
                class=""
                src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
                alt="img"
              />
              <p class="resource-s-title">Cloudmos on youtube</p>
            </div>
            <div>
              <img
                class=""
                src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
                alt="img"
              />
              <p class="resource-s-title">Cloudmos on youtube</p>
            </div>
            <div>
              <img
                class=""
                src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
                alt="img"
              />

              <p class="resource-s-title">Cloudmos documentation</p>
            </div>
          </div>
        </section>
        <hr class="deploy-hr2" />
        <!-- AVAILABLE OPTIONS CLOUDMOS -->
        <section>
          <h3 class="mb-5">Other Available Options to Deploy Apps</h3>
          <div class="available-op-wrapper">
            <p class="option-s-header">Terraform</p>
            <p class="available-op-desc">
              Automate Your Infrastructure Deployment on Akash with the Popular
              Infrastructure as a Code Tool
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper my-4">
            <p class="option-s-header">Client Libraries</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-bzxstn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper">
            <p class="option-s-header">CLI</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
        </section>
      </div>
      <!-- CLOUDMOS TABS END-->
    </div>
  </div>
</section>

{{ end -}}
