<div class="reac_wrapper d-flex align-items-center justify-content-between">
  <div class="col-sm-4 col-md-6 col-lg-4">
    <p class="" style="
      font-size: 14px;
      height: 22px;
      width: 197px;
      left: 0px;
      top: 0px;
      font-weight: 400;
      line-height: 22px;
      color: black;
      text-align: left;
    ">{{ .PublishDate.Format "January 2, 2006" }}</p>
  </div>
  <div class="col-sm-4 col-md-6 col-lg-4">
    <p style="
      font-size: 14px;
      font-weight: 700;
      height: 22px;
      width: 80px;
      left: 217px;
      top: 0px;
      line-height: 22px;
      text-align: left;
    ">{{ .ReadingTime }} min read</p>
  </div>
</div>

<!-- On medium screens -->
<style>
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    .row.align-items-center {
      gap: 40px;
      margin-top: -20px;
    }
  }
</style>

<!-- On smaller screens -->
<style>
  @media only screen and (max-width: 767px) {
    .row.align-items-center {
      gap: 0!important;
      margin-top: -20px;
    }

    .reac_wrapper{
      display: flex ;
    }
  }
</style>
