{{ define "main" }} {{ partial "owl/owlcarousel.html" . }}
<script>
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      center: true,
      autoplay:false,
      responsive: {
        0: {
          items: 1,
          nav: false,
        },
        600: {
          items: 1,
          nav: true,
        },
        1000: {
          items: 1,
          nav: true,
          loop: true,
        },
      },
    });
  });
</script>

<section style="margin-bottom: 100px">
  <div class="custom-col-13">
    <div class="d-flex gap-2 provider-breadcrumb-wrapper">
      <p class="br-text"> <a href="/get-started">Get Started</a>  <span class="chev-right"
        >{{ partial "content/svg.html" "chev-right" }}</span
      ></p>
      <p class="provider-breadcrumb" >Deploy</p>
    </div>

    <h1 class="deploy-header-text text-center mx-auto">
      Get started with Akash's easy-to-use deployment tools
    </h1>
    <div class="carousel-card-wrapper">
      <div class="carousel-card" >
        <div class="owl-carousel ">
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
        </div>
        <div class="m-4">
          <p class="deploy-tile-title">Akash Console</p>
          <p class="deploy-tile-desc">Akash Console comes pre-loaded with one-click deployments,
            tailored for AI and machine learning.</p>
            <button class="console-s-btn1 mt-3">
              <span class="ex-link-arrow2"
                >{{ partial "content/svg.html" "arrow-circled2" }}</span
              >
              Launch Console
            </button>
            <hr class="deploy-tile-hr mx-auto" />
            <div>
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
            Akash Console Documentation
            <span class="ex-link-arrow"></span>
            {{ partial "content/svg.html" "link-arrow-1" }}</span
          >
            </a>
            </div>
            <div class="mt-3">
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
            Deployment Tutorial
            <span class="ex-link-arrow"></span>
            {{ partial "content/svg.html" "link-arrow-1" }}</span
          >
            </a>
            </div>

        </div>
      </div>

      <div class="carousel-card" >
        <div class="owl-carousel ">
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
        </div>
        <div class="m-4">
          <p class="deploy-tile-title">Cloudmos</p>
          <p class="deploy-tile-desc">Cloudmos is a highly-customizable deploy
            tool with a suite of analytics features for tracking network stats and resources.</p>
            <button class="console-s-btn1 mt-3">
              <span class="ex-link-arrow2"
                >{{ partial "content/svg.html" "arrow-circled2" }}</span
              >
              Launch  Cloudmos
            </button>
            <hr class="deploy-tile-hr mx-auto" />
            <div>
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
            Cloudmos Documentation
              <span class="ex-link-arrow"></span>
                {{ partial "content/svg.html" "link-arrow-1" }}</span
              >
            </a>
            </div>
            <div class="mt-3">
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
            Cloudmos Tutorial
            <span class="ex-link-arrow"></span>
            {{ partial "content/svg.html" "link-arrow-1" }}</span
          >
            </a>
            </div>

        </div>


      </div>

    </div>
      <section id="tab0" class="tab-content">
        <hr class="deploy-hr2" />
        <!-- AVAILABLE OPTIONS TO DEPLOY SECTION -->
        <section>
          <h3 class="mb-5">Other Available Options to Deploy Apps</h3>
          <div class="available-op-wrapper">
            <p class="option-s-header">Ready-to-deploy Apps</p>
            <p class="available-op-desc">
              Automate Your Infrastructure Deployment on Akash with the Popular
              Infrastructure as a Code Tool
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper my-4">
            <p class="option-s-header">Akash CLI</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper">
            <p class="option-s-header">CLI Booster</p>
            <p class="available-op-desc">
              The Akash CLI Booster was created to make the use of the current command line tooling much simpler for deployments and related activities.
              In this guide we will review the primary capabilities of this exciting new tool.
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper mt-4">
            <p class="option-s-header">Akash Terraform Provider</p>
            <p class="available-op-desc">
              Effortless integration with the Akash Network using Terraform Cloud
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
        </section>
      </section>
      <!-- CONSOLE TABS END-->
    </div>
  </div>
</section>


{{ end -}}
