{{ define "main" }} {{ partial "owl/owlcarousel.html" . }}
<script>
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      center: true,
      autoplay: true,
      autoplayTimeout: 4000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
          nav: true,
        },
        600: {
          items: 1,
          nav: false,
        },
        1000: {
          items: 1,
          nav: true,
          loop: false,
        },
      },
    });
  });
</script>

<section style="margin-bottom: 500px">
  <div class="custom-col-13">
    <h1 class="deploy-header-text text-center mx-auto">
      Get started with Akash's easy-to-use deployment tools
    </h1>
    <div class="carousel-card-wrapper">
      <div class="carousel-card" >
        <div class="owl-carousel ">
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
        </div>
        <div class="m-4">
          <p class="deploy-tile-title">Akash Console</p>
          <p class="deploy-tile-desc">Akash Console comes pre-loaded with one-click deployments,
            tailored for AI and machine learning.</p>
            <button class="console-s-btn1">
              <span class="ex-link-arrow2"
                >{{ partial "content/svg.html" "arrow-circled2" }}</span
              >
              Launch Console
            </button>
            <hr class="deploy-tile-hr mx-auto" />
            <div>
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
              Console Documentation
              <span class="ex-link-arrow"></span>
                {{ partial "content/svg.html" "link-arrow" }}</span
              >
            </a>
            </div>
            <div class="mt-3">
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
              Console Documentation
              <span class="ex-link-arrow"></span>
                {{ partial "content/svg.html" "link-arrow" }}</span
              >
            </a>
            </div>

        </div>
      </div>

      <div class="carousel-card" >
        <div class="owl-carousel ">
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
          <div class="carousel-slide">
            {{ partial "content/svg.html" "cons-slider1" }}
          </div>
        </div>
        <div class="m-4">
          <p class="deploy-tile-title">Akash Console</p>
          <p class="deploy-tile-desc">Akash Console comes pre-loaded with one-click deployments,
            tailored for AI and machine learning.</p>
            <button class="console-s-btn1">
              <span class="ex-link-arrow2"
                >{{ partial "content/svg.html" "arrow-circled2" }}</span
              >
              Launch Console
            </button>
            <hr class="deploy-tile-hr mx-auto" />
            <div>
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
              Console Documentation
              <span class="ex-link-arrow"></span>
                {{ partial "content/svg.html" "link-arrow" }}</span
              >
            </a>
            </div>
            <div class="mt-3">
              <a
              class="resource-s-title"
              href="https://docs.akash.network/guides/deploy"
              target="_blank"
            >
              Console Documentation
              <span class="ex-link-arrow"></span>
                {{ partial "content/svg.html" "link-arrow" }}</span
              >
            </a>
            </div>

        </div>


      </div>

    </div>
       <div class="tabs">
      <!-- Tab contents -->
      <!-- CONSOLE TAB -->
      <section id="tab0" class="tab-content">

        <!-- CONSOLE RESOURCES SECTION -->

        <hr class="deploy-hr2" />
        <!-- AVAILABLE OPTIONS TO DEPLOY SECTION -->
        <section>
          <h3 class="mb-5">Other Available Options to Deploy Apps</h3>
          <div class="available-op-wrapper">
            <p class="option-s-header">Terraform</p>
            <p class="available-op-desc">
              Automate Your Infrastructure Deployment on Akash with the Popular
              Infrastructure as a Code Tool
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper my-4">
            <p class="option-s-header">Client Libraries</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
          <div class="available-op-wrapper">
            <p class="option-s-header">CLI</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </div>
          </div>
        </section>
      </section>
      <!-- CONSOLE TABS END-->
    </div>
  </div>
</section>


{{ end -}}
