{{ define "main" }} {{ partial "owl/owlcarousel.html" . }}
<script>
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      center: true,
      autoplay:false,
      responsive: {
        0: {
          items: 1,
          nav: false,
        },
        600: {
          items: 1,
          nav: true,
        },
        1000: {
          items: 1,
          nav: true,
          loop: true,
        },
      },
    });
  });
</script>

<section style="margin-bottom: 100px">
  <div class="custom-col-13">
    <div class="d-flex gap-2 provider-breadcrumb-wrapper">
      <p class="br-text"> <a href="/get-started">Get Started</a></p>  <span class="chev-right"
        >{{ partial "content/svg.html" "chev-right" }}</span
      >
      <p class="provider-breadcrumb" >Deploy your App</p>
    </div>


    <div class="hero-section">
      <div class="hero-section-image-wrapper"  >
        <img src="https://i.ibb.co/vV6PNtg/hero-image.png" alt="HeroImage" loading="eager" />
      </div>
      <div>
        <h2>Streamline deployment with Cloudmoss</h2>
        <p>Effortless application deployment for the decentralized era.</p>
        <ul> <li>Built for the unique demands of Web3 and crypto apps</li> <li>Say no to complex processes and yes to one-click deployment</li> <li>Adapt to your business needs in real-time, ensuring optimal performance and cost efficiency</li> </ul>
        <div style="margin-top:60px;">
          <div class="launch-cloudmos-btn-wrapper">
            <a target="_blank" href="https://deploy.cloudmos.io/"  class="launch-cloudmos-btn"  >
              <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_177_179)" class="launch-cloudmos-btn-stroke">
                    <path d="M14.8242 19.6388L20.8367 14.3615M20.8367 14.3615L15.8974 14.0399M20.8367 14.3615L20.5151 19.3008" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M24.4247 24.5156C28.5755 20.8723 28.9869 14.5541 25.3437 10.4033C21.7004 6.25259 15.3822 5.84117 11.2314 9.4844C7.08067 13.1276 6.66924 19.4459 10.3125 23.5966C13.9557 27.7474 20.274 28.1588 24.4247 24.5156Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0_177_179">
                        <rect width="24" height="24" fill="white" transform="translate(0.895508 15.8972) rotate(-41.2744)"/>
                    </clipPath>
                </defs>
              </svg>


              Launch Cloudmos

            </a>
          </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="deploy-hr2" />

    <div>
      <h2 class="cloudmos-resources">Cloudmos Resources</h2>

      <div class="card-grid"  >
      <div class="card-wrapper">
        <img  class="card-image"  src="https://i.ibb.co/ZxWL86Q/card-image.png" alt="HeroImage" loading="eager" />
        <a  href="https://docs.akash.network/guides/cloudmos-deploy"
        target="_blank"
class="card-button"><svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_177_179)" class="card-icon-stroke">
      <path d="M14.8242 19.6388L20.8367 14.3615M20.8367 14.3615L15.8974 14.0399M20.8367 14.3615L20.5151 19.3008" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M24.4247 24.5156C28.5755 20.8723 28.9869 14.5541 25.3437 10.4033C21.7004 6.25259 15.3822 5.84117 11.2314 9.4844C7.08067 13.1276 6.66924 19.4459 10.3125 23.5966C13.9557 27.7474 20.274 28.1588 24.4247 24.5156Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
      <clipPath id="clip0_177_179">
          <rect width="24" height="24" fill="white" transform="translate(0.895508 15.8972) rotate(-41.2744)"/>
      </clipPath>
  </defs>
</svg>

          Cloudmos Documentation</a>
      </div>
      <div class="card-wrapper">
        <img  class="card-image"  src="https://i.ibb.co/gdHpFMv/card-image-2.png" alt="HeroImage" loading="eager" />
        <a       href="https://www.youtube.com/@cloudmos"
        target="_blank"  class="card-button"><svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_177_179)" class="card-icon-stroke">
              <path d="M14.8242 19.6388L20.8367 14.3615M20.8367 14.3615L15.8974 14.0399M20.8367 14.3615L20.5151 19.3008" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M24.4247 24.5156C28.5755 20.8723 28.9869 14.5541 25.3437 10.4033C21.7004 6.25259 15.3822 5.84117 11.2314 9.4844C7.08067 13.1276 6.66924 19.4459 10.3125 23.5966C13.9557 27.7474 20.274 28.1588 24.4247 24.5156Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
              <clipPath id="clip0_177_179">
                  <rect width="24" height="24" fill="white" transform="translate(0.895508 15.8972) rotate(-41.2744)"/>
              </clipPath>
          </defs>
      </svg>

          Cloudmos On Youtube</a>
      </div> <div class="card-wrapper">
        <img  class="card-image"  src="https://i.ibb.co/zNPQW6d/card-image-3.png" alt="HeroImage" loading="eager" />
        <a target="_blank" href="https://github.com/akash-network/awesome-akash"   class="card-button">

          <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_177_179)" class="card-icon-stroke">
                <path d="M14.8242 19.6388L20.8367 14.3615M20.8367 14.3615L15.8974 14.0399M20.8367 14.3615L20.5151 19.3008" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24.4247 24.5156C28.5755 20.8723 28.9869 14.5541 25.3437 10.4033C21.7004 6.25259 15.3822 5.84117 11.2314 9.4844C7.08067 13.1276 6.66924 19.4459 10.3125 23.5966C13.9557 27.7474 20.274 28.1588 24.4247 24.5156Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
                <clipPath id="clip0_177_179">
                    <rect width="24" height="24" fill="white" transform="translate(0.895508 15.8972) rotate(-41.2744)"/>
                </clipPath>
            </defs>
        </svg>

          Awesome Akash Repo</a>
      </div>
    </div>
    </div>

      <section id="tab0" class="tab-content">
        <hr class="deploy-hr2" />
        <!-- AVAILABLE OPTIONS TO DEPLOY SECTION -->
        <section>
          <h3 class="mb-5">Other Available Options to Deploy Apps</h3>
          <div class="available-op-wrapper">
            <p class="option-s-header">Ready-to-deploy Apps</p>
            <p class="available-op-desc">
              Awesome Akash is a curated list of awesome resources people can use to familiarize themselves with Akash and includes examples of several applications they can deploy on the platform.
            </p>
            <div class="available-op-btn">
              <a target="_blank" href="https://github.com/akash-network/awesome-akash">
              <button>
                View on Github
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </a>
            </div>
          </div>
          <div class="available-op-wrapper my-4">
            <p class="option-s-header">Akash CLI</p>
            <p class="available-op-desc">
              Deploy and Manage Your Applications on Akash with Ease using the
              Command Line Interface
            </p>
            <div class="available-op-btn">
              <a target="_blank" href="https://docs.akash.network/guides/cli">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </a>
            </div>
          </div>
          <div class="available-op-wrapper">
            <p class="option-s-header">CLI Booster</p>
            <p class="available-op-desc">
              The Akash CLI Booster was created to make the use of the current command line tooling much simpler for deployments and related activities.
              In this guide we will review the primary capabilities of this exciting new tool.
            </p>
            <div class="available-op-btn">
              <a target="_blank" href="https://docs.akash.network/guides/cli/akash-cli-booster">
              <button>
                View Docs
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </a>
            </div>
          </div>
          <div class="available-op-wrapper mt-4">
            <p class="option-s-header">Akash Terraform Provider</p>
            <p class="available-op-desc">
              Effortless integration with the Akash Network using Terraform Cloud
            </p>
            <div class="available-op-btn">
              <a target="_blank" href="https://registry.terraform.io/providers/cloud-j-luna/akash/latest/docs">
              <button>
                Read More
                <span class="ex-link-arrow"
                  >{{ partial "content/svg.html" "ex-link-arrow" }}</span
                >
              </button>
            </a>
            </div>
          </div>
        </section>
      </section>
      <!-- CONSOLE TABS END-->
    </div>
  </div>
</section>


{{ end -}}
