{{ define "main" }}

<section>
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 col-lg-9">
      <h1 class="text-center">{{ .Title }}</h1>
      {{ with .Content }}
      <div class="text-center">{{ . }}</div>
      {{ end }}
    </div>
  </div>

  <div
    class="col-lg-13 d-flex justify-content-center align-items-center mx-auto"
  >
    <div
      class="justify-content-center align-items-center row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"
    >
      {{ $paginator := .Paginate (.Data.Pages) }} {{ $currentPage :=
      $paginator.PageNumber }} {{ $perPage := $paginator.PageSize }}
      <!-- Calculate total number of blogs -->
      {{ $totalBlogs := 0 }} {{ range .Site.RegularPages }} {{ if eq .Type
      "blog" }} {{ $totalBlogs = add $totalBlogs 1 }} {{ end }} {{ end }} {{
      $startIndex := add (mul (sub $currentPage 1) $perPage) 1 }} {{ $endIndex
      := add $startIndex (sub $perPage 1) }} {{ if gt $endIndex $totalBlogs }}
      {{ $endIndex = $totalBlogs }} {{ end }} {{ range $paginator.Pages }}
      <div class="col">
        <div class="card">
          <a href="{{ .RelPermalink }}">
            {{ partial "content/image.html" . }}
          </a>
          <div class="card-body">
            <div class="card-title">
              <h5 style="width: 240px !important">
                <a href="{{ .RelPermalink }}">
                  {{ truncate 42 .Params.title }}
                </a>
              </h5>
              {{ partial "main/writer.html" . }}
            </div>
            <p class="card-text">{{ .Params.excerpt | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-md-12 col-lg-9">
      <div class="row justify-content-center my-5">
        <div class="col-md-12 col-lg-9">
          <p class="text-center">Total {{ $totalBlogs }} blogs</p>
          {{ with .Paginator }}
          <nav class="pagination justify-content-center">
            {{ if .HasPrev }}
            <a href="{{ .Prev.URL }}" class="pagination-prev">Previous</a>
            {{ end }} {{ if .HasNext }}
            <a href="{{ .Next.URL }}" class="pagination-next">Next</a>
            {{ end }}
          </nav>
          {{ end }}
        </div>
      </div>
      <p class="text-center">
        Showing {{ $startIndex }} to {{ $endIndex }} of {{ $totalBlogs }}
        results
      </p>
    </div>
  </div>
</section>

{{ end }}
