{{ define "main" }}

<!-- Hero Section -->
{{ $heroPost := index .Data.Pages 0 }}
<section class="hero-section">
  <div class="hero-content container">
    <div class="hero-blog-image">
      <a href="{{ $heroPost.RelPermalink }}">
        {{ partial "content/image.html" $heroPost }}
      </a>
    </div>
    <div class="hero-blog-text-wrapper">
      <h2 class="blog-hero-header">
        <a href="{{ $heroPost.RelPermalink }}">
          {{ $heroPost.Params.title | truncate 43 }}
        </a>
      </h2>
      <p class="hero-blog-writer">{{ partial "main/writer.html" $heroPost }}</p>
      <p class="hero-blog-summary">{{ $heroPost.Summary | truncate 160 }}</p>
      <div class="hero-blog-date-wrapper">
        <span class="hero-blog-date">
          {{ $heroPost.PublishDate.Format "January 2, 2006" }}</span
        >
        <span class="hero-blog-time mx-3">
          {{ $heroPost.ReadingTime }} min read</span
        >
      </div>
    </div>
  </div>
</section>

<section class="sm-hero-section mx-auto">
  <div class="blog-card">
    <div class="blog-card-img">
      <a href="{{ $heroPost.RelPermalink }}">
        {{ partial "content/image.html" $heroPost }}
      </a>
    </div>
    <div class="sm-hero-blog-text-wrapper">
      <h2 class="blog-hero-header">
        <a href="{{ $heroPost.RelPermalink }}">
          {{ $heroPost.Params.title | truncate 43 }}
        </a>
      </h2>
      <p class="hero-blog-writer">{{ partial "main/writer.html" $heroPost }}</p>
      <p class="hero-blog-summary">{{ $heroPost.Summary | truncate 160 }}</p>
      <div class="hero-blog-date-wrapper mt-3">
        <span class="hero-blog-date">
          {{ $heroPost.PublishDate.Format "January 2, 2006" }}</span
        >
        <span class="hero-blog-time mx-3">
          {{ $heroPost.ReadingTime }} min read</span
        >
      </div>
    </div>
  </div>
</section>
<!-- Hero Section END -->

<section>
  <div class="tags-container">
    <div class="overflow-auto">
      <ul class="d-flex tags-list">
        {{ range .Site.Taxonomies.tags }}
        <li>
          <a
            class="tag-button text-capitalize"
            aria-current="page"
            href="{{ .Page.Permalink }}"
          >
            {{ .Page.Title }}</a
          >
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>

<!-- BLOG LIST -->
<section>
  <div class="blog-list-container">
    <div class="blog-list">
      <!-- Pagination setup -->
      {{ $paginator := .Paginate .Data.Pages }} {{ $currentPage :=
      $paginator.PageNumber }} {{ $perPage := $paginator.PageSize }}

      <!-- Count total blog posts -->
      {{ $totalBlogs := 0 }} {{ range .Site.RegularPages }} {{ if eq .Type
      "blog" }} {{ $totalBlogs = add $totalBlogs 1 }} {{ end }} {{ end }}

      <!-- Calculate range for pagination -->
      {{ $startIndex := add (mul (sub $currentPage 1) $perPage) 1 }} {{
      $endIndex := add $startIndex (sub $perPage 1) }} {{ if gt $endIndex
      $totalBlogs }} {{ $endIndex = $totalBlogs }} {{ end }}

      <!-- Initialize remaining card count -->
      {{ $remainingCards := 9 }}

      <!-- Loop through paginated pages -->
      {{ range $paginator.Pages }} {{ if and (gt $remainingCards 0) (ne .Type
      "hero") (ne .RelPermalink $heroPost.RelPermalink) }} {{ $remainingCards =
      sub $remainingCards 1 }}
      <div class="blog-card">
        <div class="blog-card-img">
          <a href="{{ .RelPermalink }}">
            {{ partial "content/image.html" . }}
          </a>
        </div>
        <div class="blog-card-body">
          <div class="">
            <p class="blog-card-title">
              <a href="{{ .RelPermalink }}">
                {{ truncate 42 .Params.title }}
              </a>
            </p>
            {{ partial "main/writer.html" . }}
          </div>
          {{ partial "main/blog-meta.html" . }}
        </div>
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
  <div class="pagination-container mx-auto my-5">
    <div class="total-blogs-pagination">
      <p>
        Showing {{ $startIndex }} to {{ $endIndex }} of {{ $totalBlogs }}
        results
      </p>
    </div>
    <div>
      {{ with .Paginator }} {{ if .HasPrev }}
      <a
        class="prev-pagination-button"
        href="{{ .Prev.URL }}"
        class="pagination-prev"
        >Previous Page</a
      >
      {{ end }} {{ if .HasNext }}
      <a
        class="next-pagination-button"
        href="{{ .Next.URL }}"
        class="pagination-next"
        >Next Page</a
      >
      {{ end }} {{ end }}
    </div>
  </div>
</section>

{{ partial "content/newsletter.html" . }} {{ end }}
