{{ define "main" }}
<section class="d-flex justify-content-between align-content-center mt-5 gap-5">
  <article class="mx-auto" style="width: 700px;">
        <div class="mx-auto">
          <p class="">{{ partial "main/writer.html" . -}}</p>
          <h1 class="text-left">{{ .Title }}</h1>
          <div class="blog-details-meta-wrapper">
            <p class="">{{ .PublishDate.Format "January 2, 2006" }}</p>
            <p>{{ .ReadingTime }} min read </p>
          </div>
          <div>
            <div class="blog-detail-img">
              {{- .Scratch.Set "fillImage" "1280x640 Center" -}}
              {{ partial "content/figure.html" . }}
            </div>
          </div>

      <div>
        {{ .Content }}
        {{ if .Params.tags -}}
        <div class="mt-4">
          {{ range $index, $tag := .Params.tags -}}
          <a class="btn btn-light" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
          {{ end -}}
        </div>
        {{ end -}}
      </div>
  </article>
  <div class="blog-sticky-nav" >
    <div>
      <p class="related-header">Related post</p>
      {{ $related := .Site.RegularPages.Related . | first 3 -}}
        {{ with $related -}}
        {{ range . -}}
        <p class="related-blog-name">
          <a href="{{ .RelPermalink }}">
            {{ truncate 22 .Params.title }}
          </a>
        </p>
        {{ end -}}
        {{ end -}}
    </div>
    <p class="share-header">Share This Article</p>
    <a href="https://twitter.com/intent/tweet?url={{ .Permalink | absURL }}" target="_blank" rel="noopener noreferrer"> {{ partial "content/svg.html" "twitter" }}</a>
  </div>
</section>


<hr  class="mt-5 mx-auto blog-detail-hr"/>
{{ $related := .Site.RegularPages.Related . | first 3 -}}
{{ with $related -}}
<div class="related-posts">
  <div class="row justify-content-center">
    <div class="section-title-wrapper">
      <h2 class="section-title">Related posts</h2>
    </div>
  </div>
  <div class="blog-list-container gap-5">
    {{ range . -}}
    <div class="blog-card">
      <div class="blog-card-img">
        {{- .Scratch.Set "fillImageCard" "1280x640 Center" -}}
        {{ partial "content/card-image.html" . }}
      </div>
      <div class="blog-card-body">
            <p class="blog-card-title">
              <a href="{{ .RelPermalink }}">
                {{ truncate 42 .Params.title }}
              </a>
            </p>
            {{ partial "main/writer.html" . }}
            {{ partial "main/blog-meta.html" . -}}
        </div>

    </div>
    {{ end -}}
  </div>
</div>
{{ end }}

{{ end }}
