{{ define "main" }} {{ partial "content/tag-button.html" . }}
<section class="d-flex justify-content-between align-content-center mt-5 gap-5">
  <article class="mx-auto" style="width: 700px;">
        <div class="mx-auto">
          <p class="">{{ partial "main/writer.html" . -}}</p>
          <h1 class="text-left">{{ .Title }}</h1>
          <div class="blog-details-meta-wrapper">
            <p class="">{{ .PublishDate.Format "January 2, 2006" }}</p>
            <p>{{ .ReadingTime }} min read </p>
          </div>
          <div>
            <div class="blog-detail-img">
              {{- .Scratch.Set "fillImage" "1280x640 Center" -}}
              {{ partial "content/figure.html" . }}
            </div>
          </div>

      <div>
        {{ .Content }}
        {{ if .Params.tags -}}
        <div class="mt-4">
          {{ range $index, $tag := .Params.tags -}}
          <a class="btn btn-light" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
          {{ end -}}
        </div>
        {{ end -}}
      </div>
  </article>
  <div class="blog-sticky-nav" >
    <div>
      <p class="related-header">Related post</p>
      {{ $related := .Site.RegularPages.Related . | first 3 -}}
        {{ with $related -}}
        {{ range . -}}
        <p class="related-blog-name">
          <a href="{{ .RelPermalink }}">
            {{ truncate 22 .Params.title }}
          </a>
        </p>
        {{ end -}}
        {{ end -}}
    </div>
    <p class="share-header">Share This Article</p>
    <div class="d-flex gap-3">
    <a href="https://twitter.com/intent/tweet?url=http://akash.network{{ .Permalink | absURL }}" target="_blank" rel="noopener noreferrer">
      <p class="twitter-svg">
        {{ partial "content/svg.html" "twitter" }}
      </p>
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url=http://akash.network{{ .Permalink | absURL}}" target="_blank" rel="noopener noreferrer">
      <p class="linkedin-svg">
        {{ partial "content/svg.html" "linkedin" }}
      </p>
    </a>

      <a href="http://www.facebook.com/sharer.php?u=http://akash.network{{ .Permalink | absURL }}" target="_blank" rel="noopener noreferrer">
        <p class="facebook-svg">
          {{ partial "content/svg.html" "facebook" }}
        </p>
      </a>
    </div>


  </div>
</section>
<hr  class="mt-5 mx-auto blog-detail-hr"/>
<section class="Latest-from-blog">
  <div>
    <div class="row justify-content-center">
      <div class="blog-detail-title-wrapper">
        <h2 class="detail-blog-title" >Latest From The Blog</h2>
      </div>
    </div>
    <div class="blog-list-container">
      <div class="blog-list">
      {{- range (where site.RegularPages "Section" "blog" | first 3) }}
      <div class="blog-card">
        <div class="blog-card-img">
          <a class="" href="{{ .RelPermalink }}">
            {{- .Scratch.Set "fillImageCard" "1270x715 Center" -}}
            {{ partial "content/card-image.html" . }}
          </a>
        </div>
        <div class="blog-card-body">
          <p class="blog-card-title">
            <a href="{{ .RelPermalink }}">
              {{ truncate 42 .Params.title }}
            </a>
          </p>
          {{ partial "main/writer.html" . }}
          {{ partial "main/blog-meta.html" . -}}
        </div>
      </div>
      {{ end -}}
    </div>
  </div>
  </div>
</section>

{{ end }}

