.blog_figure_img {
  width: 100%;
  height: 100%;
}

.blog_top-title {
  font-size: 56px !important;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -1.12px;
}

.top_article_wrapper {
  margin-top: 50px;
}

body
  > div.wrap.container-xxl
  > div
  > article
  > div
  > div.col-md-12.col-lg-13
  > div
  > div
  > div {
  margin: 0 !important;
  font-size: 16px !important;
}

div.col-md-12.col-lg-13 > div > div > div > span:nth-child(1) > a {
  font-weight: 600;
  text-underline-offset: 5px;
  text-decoration: underline;
}

div.col-md-12.col-lg-13 > div > div > div > a {
  font-weight: 600;
  text-underline-offset: 5px;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog_figure_img {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .blog_figure_img {
    width: 100% !important;
    height: 100%;
  }

  .blog_top-title {
    width: 100%;
    font-size: 25px !important;
    line-height: 45px;
  }

  body
    > div.wrap.container-xxl
    > div
    > article
    > div
    > div.col-md-12.col-lg-13
    > div
    > div
    > div {
    margin: 0 !important;
    font-size: 15px !important;
  }

  .top_article_wrapper {
    margin-top: 10px;
  }

  .top_article_wrapper
    > div.col-md-12.col-lg-13
    > div
    > div
    > p.mx-sm-1.mx-lg-4 {
    margin: 0 15px;
  }

  .top_article_wrapper
    > div.col-md-12.col-lg-13
    > div
    > div
    > p.blog_top_read-time {
    font-size: 12px !important;
    margin-top: 2px;
  }
}

@media (min-width: 300px) and (max-width: 405px) {
  body
    > div.wrap.container-xxl
    > div
    > article
    > div
    > div.col-md-12.col-lg-13
    > div
    > div
    > div {
    margin: 0 !important;
    font-size: 13px !important;
  }
  .top_article_wrapper > div.col-md-12.col-lg-13 > div > div > p.mx-4 {
    font-size: 14px !important;
  }

  .top_article_wrapper
    > div.col-md-12.col-lg-13
    > div
    > div
    > p.mx-sm-1.mx-lg-4 {
    font-size: 13px !important;
    margin: 0 15px;
  }

  .top_article_wrapper
    > div.col-md-12.col-lg-13
    > div
    > div
    > p.blog_top_read-time {
    font-size: 11px !important;
    margin-top: 3px;
  }
}
