// Hero section

.hero-blog-image img {
  width: 575px;
  margin-top: 20px;
  height: 300px;
  border-radius: 4px;
  text-align: center;
}

.sm-hero-section {
  display: none;
}

.blog-hero-header {
  width: 390px;
  font-size: 34px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -0.6800000071525574px;
  text-align: left;
}

.hero-blog-text-wrapper {
  margin-bottom: 35px;
}

.blog-hero-header a {
  color: black;
}

.blog-hero-header a:hover {
  color: black;
  text-decoration: underline;
  transition: 0, 3s ease-in-out;
}

.hero-section {
  margin-bottom: 68px;
  margin-top: 80px;
}

.hero-content {
  width: 1230px;
  margin: 20px auto;
  height: 348px;
  padding: 24px;
  border-radius: 8px;
  gap: 70px;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-blog-writer {
  color: #0000;
  margin-top: -10px;
}

.hero-blog-summary {
  width: 500px;
  height: 108px;
  margin-top: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.hero-blog-date,
.hero-blog-time {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-blog-date-wrapper {
  margin-top: -10px;
}

// Hero section end
// Hero section end

// Blog cards
.blog-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;
}

.blog-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card-body {
  padding: 15px;
}

.blog-card-body .blog-card-title {
  width: 280px;
  margin-top: -10px;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.1px;
  letter-spacing: -0.68px;
}

.blog-card-body .blog-card-title a {
  color: #000;
}

// Blog cards End

// BLOG META HTML
.blog-date,
.blog-reading-time {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.separator {
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  margin-top: 10px;
}

// BLOG META HTML END

// TAGS   SECTION
.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 68px;
}

.tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}

.tag-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-decoration: none;
  color: #333;
  transition: 0.3s ease;
}

.tag-button:hover {
  opacity: 0.5;
  text-decoration: none;
}

// TAGS SECTION END

// MAIN BLOG PAGE PAGINATION
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
  gap: 15px;
}

.total-blogs-pagination {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.prev-pagination-button,
.next-pagination-button {
  width: 130px;
  height: 44px;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #00000033;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}

.next-pagination-button:hover {
  text-decoration: none;
  opacity: 0.5;
}

.prev-pagination-button:hover {
  text-decoration: none;
  opacity: 0.5;
}

//BLOG DETAILS PAGE

.blog-sticky-nav {
  position: relative;
  top: 330px;
  right: 100px;
}

.blog-details-meta-wrapper {
  display: flex;
  gap: 40px;
  margin: 40px auto;
  margin-left: 10px;
}

.related-header {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.related-blog-name a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-style: normal;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.blog-details-art-wrapper {
  width: 700px;
}

.blog-detail-img img {
  width: 751px;
}

.share-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Latest-from-blog {
  margin-top: 80px;
}

//BLOG DETAILS PAGE END

//    MEDIA QUERIES //
// for laptop screens
@media (min-width: 992px) and (max-width: 1400px) {
  .hero-content {
    width: 1040px;
    height: 300px;
    gap: 40px;
  }

  .hero-blog-date-wrapper {
    margin-top: 10px;
  }

  .hero-blog-writer {
    margin-top: -10px;
  }

  .hero-blog-image img {
    margin-top: 20px;
    width: 100%;
    height: 270px;
    border-radius: 4px;
    text-align: center;
  }

  .hero-blog-summary {
    width: 450px;
    margin: 0;
  }

  .blog-hero-header {
    width: 390px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
  }

  .sm-hero-section {
    display: none;
  }

  .blog-card-img img {
    width: 100%;
  }

  .blog-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1050px;
  }

  .tag-button {
    display: inline-block;
    padding: 6px 12px;
  }

  .pagination-container {
    width: 1000px;
  }

  blog-section-title-wrapper {
    width: 1100px;
  }

  .blog-detail-hr {
    width: 1050px;
  }

  .blog-detail-title-wrapper {
    width: 1070px;
    padding-bottom: 20px;
  }
}
// for Tablets screens
@media (max-width: 1200px) {
  .blog-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .blog-sticky-nav {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero-blog-summary {
    width: 520px;
    margin: 0;
  }

  .hero-blog-image img {
    margin-top: 20px;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
  }

  .sm-hero-section {
    display: block;
    margin-top: 40px;
    margin-bottom: 68px;
  }
  .blog-hero-header {
    font-size: 32px;
    width: 420px;
    margin: 0;
  }

  .hero-section {
    display: none;
  }

  .hero-blog-writer {
    margin-top: 20px;
  }

  .sm-hero-blog-text-wrapper {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .blog-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .blog-sticky-nav {
    display: none;
  }

  .blog-hero-header {
    width: 400px;
  }
}

// FOR SMALL SCREENS
@media (max-width: 767px) {
  .sm-hero-section {
    display: block;
    margin-top: 40px;
    margin-bottom: 68px;
  }
  .blog-hero-header {
    font-size: 26px;
    width: 290px;
    margin: 0;
  }

  .hero-section {
    display: none;
  }

  .hero-blog-summary {
    width: 100%;
    height: 100%;
    margin: 0;
    margin: 20px auto;
  }

  .hero-blog-writer {
    margin-top: 20px;
  }

  .sm-hero-blog-text-wrapper {
    padding: 20px;
  }

  .blog-list {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .blog-sticky-nav {
    display: none;
  }

  .prev-pagination-button {
    padding: 12px;
    width: 40px;
    font-size: 12px;
  }

  .next-pagination-button {
    font-size: 12px;
    width: 40px;
  }

  .total-blogs-pagination {
    font-size: 12px;
    width: 120px;
  }
}
