.custom-col-13 {
  width: 100%;
  margin: 0 auto;
}

.tabs-d-wrapper {
  margin-bottom: -15px;
  margin-top: 80px;
}

.tab-content {
  margin-bottom: 60px;
}

.carousel-slide svg {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}
.carousel-slide img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}

.deploy-tile-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
}

.deploy-tile-desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.deploy-tile-hr {
  width: 550px;
  margin: 32px auto;
}

.deploy-header-text {
  text-align: center;
  width: 1000px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.12px;
  margin-top: 60px;
}

.deploy-hr {
  width: 1231px;
}

.deploy-hr2 {
  width: 1231px;
  margin: 90px auto;
}

.carousel-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 70px;
}

.tab0-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
  width: 400px;
  height: 80px;
}

section .carousel-card {
  border: 1px solid rgba(0, 0, 0, 0.125); /* Card border */
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); /* Card box shadow */
  margin-bottom: 1rem; /* Spacing between cards */
  width: 587px;
  height: 100%;
  border-radius: 8px;
}

.deployment-steps {
  font-size: 18px;
  width: 599px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.console-s-btn1 {
  background: #ff414c;
  color: #fff;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  padding: 6px 14px;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s ease;
}

.console-s-btn1 .ex-link-arrow2 svg path {
  stroke: #fff;
}

.console-s-btn1:hover {
  opacity: 0.5;
}

.console-s-btn1 .ex-link-arrow2 svg {
  margin-bottom: 5px;
  margin-right: 5px;
}

.br-text a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
}
.br-text a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.deploy-breadcrumb {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
}

.resource-s-title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  transition: 0.3s ease;
}
.resource-s-title:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #000;
}

.available-op-wrapper {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.option-s-header {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.available-op-btn button {
  padding: 12px 20px;
  align-items: center;
  color: #000;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  transition: 0.3s ease;
}

.available-op-btn button:hover {
  background: #ccc;
  color: #1d2d35;
}

.available-op-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 24px auto;
  color: rgba(0, 0, 0, 0.6);
}

// FOR LAPTOPS
@media (min-width: 992px) and (max-width: 1400px) {
  .custom-col-13 {
    width: 85%;
    margin: 0 auto;
  }

  section .carousel-card {
    width: 100%;
    height: 100%;
  }

  .carousel-slide svg {
    width: 100%;
    height: 100%;
  }

  .carousel-card-wrapper {
    gap: 50px;
  }

  .deploy-tile-hr {
    width: 100%;
    margin: 32px auto;
  }

  .deploy-header-text {
    text-align: center;
    width: 900px;
    font-size: 50px;
    margin-top: 60px;
    line-height: 60px;
  }

  .deploy-svg svg {
    width: 350px;
  }

  .deploy-hr2 {
    width: 1090px;
    margin: 90px auto;
  }
  .deploy-hr {
    width: 1090px;
    margin: 16px auto;
  }

  .tabs-d-wrapper {
    margin-bottom: -20px;
    margin-top: 80px;
  }

  .available-op-btn button {
    padding: 14px 18px;
  }
}

//FOR TABLETS SCREEN
@media (max-width: 1200px) {
  section .deploy-header-text {
    width: 600px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
  .tab-buttons-wrapper .deploy-hr {
    width: 100%;
  }

  section .deploy-hr2 {
    width: 100%;
    margin: 50px auto;
  }

  section .carousel-card-wrapper {
    display: flex;
    flex-direction: column;

    gap: 80px;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .deploy-svg svg {
    width: 340px;
  }
}

// FOR SMALL SCREENS
@media (max-width: 767px) {
  section .deploy-header-text {
    width: 100%;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  .deploy-tile-hr {
    width: 100%;
    margin: 32px auto;
  }

  .console-s-btn1 .ex-link-arrow2 svg {
    margin-bottom: 3px;
    margin-right: 5px;
  }

  .deploy-sub-header {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  section .carousel-card-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 80px;
  }

  .deploy-svg svg {
    width: 100%;
  }

  .tab-buttons-wrapper .deploy-hr {
    width: 100%;
  }

  .console-s-btn {
    font-size: 14px;
  }

  section .deploy-hr2 {
    width: 100%;
    margin: 60px auto;
  }

  div > .deployment-steps {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    width: 294px;
  }

  section .tab0-header {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    width: 100%;
  }

  .btn-noe {
    display: none;
  }

  .console-resource-header {
    margin-bottom: 32px;
    margin-top: 80px;
  }

  .carousel-slide svg {
    width: 100%;
    height: 100%;
  }

  section .carousel-card {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 447px) and (max-width: 767px) {
  .deploy-svg svg {
    width: 400px;
  }

  section .carousel-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
  }
}
