.footer {
  border-top: 1px solid $gray-200;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.footer_hr {
  width: 100%;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer_akash_text p {
    width: 342px;
  }
  .akash_info_text {
    width: 330px !important;
  }
  .copyright_text {
    width: 330px !important;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
}

@media (max-width: 576px) {
  .akash_info_wrapper {
    display: block !important;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .akash_info_text {
    width: 290px !important;
  }
  .copyright_text {
    width: 290px !important;
    font-size: 12px;
  }
}
@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-base;
  }

  .copyright_text {
    width: 270px;
  }
}

@include media-breakpoint-up(lg) {
  .footer_akash_text_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
  }

  .copyright_text {
    width: 608px;
    font-size: 14px;
  }
}

// footer
.footer-container {
  background-color: #000;
  color: #fff;
  padding-top: 26px;
  padding-left: 30px;
  padding: 26px 0px 115px 30px;
  font-weight: 300;

  .footer-title {
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
  }
  .footer-col-1 {
    padding: 25px 0 0 0;
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
  .footer-container-2 {
    display: flex;
    justify-content: space-around;
    @media only screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-inline: auto;
    }
    // @media only screen and (max-width: 576px) {
    //   flex-direction: column;
    //   gap: 16px;
    // }
  }
  .link-name {
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .footer-github-privacy {
    display: flex;
    @media only screen and (min-width: 576px) {
      display: none;
      margin: 70px 0;
    }
  }
  .footer-github-privacy h6 {
    text-decoration-line: underline;
    margin: 0 50px 0 0;
    @media only screen and (max-width: 768px) {
      display: none;
      margin: 20px 0;
    }
  }
  .footer-section-bottom {
    margin-top: 40px;
  }
  .footer-col-bottom {
    display: block;
    padding: 35px 0;
    @media only screen and (min-width: 576px) {
      display: none;
    }
  }
}
