.edit-page svg,
.last-modified svg {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.horizontal-line_table {
  height: 1px;
  border: 1px solid #0000001a;
  margin: 20px auto;
}

.horizontal-line {
  border-top: 1px solid #0000001a;
  margin: 1px auto;
  width: 773px;
}

.caption_table {
  margin: 20px auto;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.ordered_details > li {
  font-size: 17px !important;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
  width: 700px;
}

.table__border {
  border: 1px solid #0000001a;
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .caption_table {
    width: 401px !important;
    margin: 20px auto;
  }

  .join_btn2 a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .join_btnn a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .sub_header_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .text-wraps .gpu_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    height: 20px;
    width: 470px;
    color: #040404;
    margin-top: 30px;
  }

  .no-border {
    border-collapse: collapse;
  }

  .no-border th,
  .no-border td {
    border: none !important;
  }

  .gpu_sub_text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #040404;
  }

  .text-wraps .ordered_details li {
    width: 500px;
    list-style-type: circle;
  }
  .text-wraps .ordered_details2 li {
    width: 500px;
    list-style-type: decimal;
  }

  .text-wraps .Gpu_header {
    font-size: 34px !important;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    width: 470px;
  }

  .top_header {
    width: 400px;
    text-align: center;
    font-size: 34px;
  }

  .form_desc1 {
    font-size: 34px;
    width: 410px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
  }
  section:nth-child(1) > div > div > div > div {
    margin-top: 59px !important;
  }

  .date_text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .form_desc2 {
    height: 48px;
    padding-top: 20px;
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #00000099;
    margin-top: -20px;
    padding-bottom: 4rem;
  }

  .gpu_description {
    font-size: 19px;
    line-height: 29px;
    width: 440px;
  }

  .horizontal-line_table {
    width: 200px !important;
  }
  .horizontal-line {
    width: 500px;
  }
  .ordered_details2 > li:nth-child(2) {
    margin-top: 25px !important;
    font-size: 14px;
  }

  .ordered_details2 > li:nth-child(3) {
    margin-top: 25px !important;
    font-size: 14px;
  }

  .ordered_details > li:nth-child(2) {
    margin-top: 25px !important;
    font-size: 14px;
  }
  .ordered_details > li:nth-child(3) {
    margin-top: 25px !important;
    font-size: 14px;
  }
  .ordered_details > li:nth-child(4) {
    margin-top: 25px !important;
    font-size: 14px;
  }

  .btn_wraps .s_d-btns {
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 14px;
    margin-right: 30px;
    border: none;
    outline: none;
  }

  .btn_gpu_docs_wrap {
    margin: 10px auto;
    text-align: center;
  }

  .btn_gpu_docs {
    height: 52px;
    width: 281px;
    left: 314.5px;
    top: 740px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    color: #000000b2;
  }

  section:nth-child(3) > div > div > div > button:nth-child(2) {
    border-radius: 8px;
    padding: 14px 17px 14px 17px;
  }

  section:nth-child(3) > div > div > div > button:nth-child(1) {
    border-radius: 8px;
    padding: 14px 17px 14px 17px;
  }

  .btn_wraps .s_d-btns:hover {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .btn_wraps {
    display: flex;
    height: 52px;
    width: 495px;
    justify-content: center;
  }
  p.Gpu_header {
    font-weight: 700;
    font-size: 29px;
  }

  .gpu_text_n {
    color: #040404;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  .gpu_text {
    font-weight: 500 !important;
    font-size: 24px;
    padding-bottom: 60px;
  }

  .btn_wraps {
    margin-bottom: 64px;
    margin-top: 40px;
  }
  .no-border {
    margin-left: 40px;
  }

  .gpu_text_2 {
    text-align: center;
  }
  .join_header_text {
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .btn_gpu_docs_wrap a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .join_header_desc {
    font-size: 18px;
    width: 100%;
    margin-top: 27px;
  }
  .join_btn2 {
    margin-top: 40px;
  }

  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    width: 400px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1680px) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .btn_wraps .btn_gpu_docs:hover {
    opacity: 0.5 !important;
    transition: 0.3s ease-in-out;
  }

  .horizontal-line_table {
    width: 730px;
  }
  .caption_table {
    width: 501px;
    margin: 40px auto;
  }

  .horizontal-line {
    width: 800px;
  }

  .join_btn2 a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .join_btnn a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .sub_header_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .text-wraps .gpu_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    height: 20px;
    width: 470px;
    margin-top: 30px;
  }

  .no-border {
    border-collapse: collapse;
  }

  .no-border th,
  .no-border td {
    border: none !important;
  }

  .gpu_sub_text {
    text-align: center;
  }

  .text-wraps .ordered_details li {
    width: 500px;
    list-style-type: circle;
  }
  .text-wraps .ordered_details2 li {
    width: 500px;
    list-style-type: decimal;
  }

  .text-wraps .Gpu_header {
    font-size: 34px !important;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    width: 470px;
  }

  .top_header {
    width: 400px;
    text-align: center;
    font-size: 34px;
  }
  section:nth-child(1) > div > div > div > div {
    margin-top: 59px !important;
  }

  .date_text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .form_desc2 {
    height: 48px;
    padding-top: 20px;
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #00000099;
    margin-top: -20px;
    padding-bottom: 4rem;
  }

  .gpu_description {
    font-size: 19px;
    line-height: 29px;
    width: 440px;
  }

  .ordered_details > li:nth-child(2) {
    margin-top: 25px !important;
    font-size: 20353px;
  }
  .ordered_details > li:nth-child(3) {
    margin-top: 25px !important;
    font-size: 20353px;
  }
  .ordered_details > li:nth-child(4) {
    margin-top: 25px !important;
    font-size: 20353px;
  }

  .btn_wraps .s_d-btns {
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 14px;
    margin-right: 30px;
    border: none;
    outline: none;
  }

  .btn_gpu_docs_wrap {
    margin: 10px auto;
    text-align: center;
  }

  .btn_gpu_docs {
    height: 52px;
    width: 281px;
    left: 314.5px;
    top: 740px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    color: #000000b2;
  }

  section:nth-child(3) > div > div > div > button:nth-child(2) {
    border-radius: 8px;
    padding: 14px 17px 14px 17px;
  }

  section:nth-child(3) > div > div > div > button:nth-child(1) {
    border-radius: 8px;
    padding: 14px 17px 14px 17px;
  }

  .btn_wraps .s_d-btns:hover {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .btn_wraps {
    display: flex;
    height: 52px;
    width: 495px;
    justify-content: center;
  }
  p.Gpu_header {
    font-weight: 700;
    font-size: 29px;
    width: 700px;
  }

  .gpu_text_n {
    color: #040404;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  .gpu_text {
    color: #040404;
    font-weight: 500 !important;
    font-size: 24px;
    padding-bottom: 60px;
  }

  .btn_wraps {
    margin-bottom: 64px;
    margin-top: 40px;
  }
  .no-border {
    margin-left: 40px;
  }

  .gpu_text_2 {
    text-align: center;
  }
  .join_header_text {
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .btn_gpu_docs_wrap a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .join_header_desc {
    font-size: 18px;
    width: 100%;
    margin-top: 27px;
  }
  .join_btn2 {
    margin-top: 40px;
  }

  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    width: 400px;
  }
}

@media screen and (max-width: 993px) {
  .horizontal-line_table {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper_form {
    margin-top: -50px;
    height: 360px;
    width: 910px;
    top: 923px;
    border-radius: 6px;
    padding: 64px 0px 64px 0px;
    border: 1px solid #e6e6e6 !important;
  }

  div.btn_wraps.col-md-10:hover {
    opacity: 0.8 !important;
    transition: 0.3s ease-in-out;
  }

  .horizontal-line_table {
    width: 700px !important;
  }

  .caption_table {
    width: 700px !important;
  }

  .gpu_description {
    font-size: 19px;
    line-height: 29px;
    width: 810px;
    margin-bottom: 60px;
    left: 0px;
  }

  .no-border {
    margin-left: 40px;
  }

  .text-wraps .Gpu_header {
    font-size: 36px !important;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    width: 910px;
  }

  .text-wraps .gpu_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    height: 60px;
    width: 801px;
    color: #040404;
  }

  .sub_header_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .btn_wraps .s_d-btns {
    height: 52px;
    width: 165px;
    top: 0px;
    border-radius: 8px;
    padding: 14px 17px 14px 17px;
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 14px;
    margin-right: 30px;
    border: none;
    outline: none;
  }

  .join_header_desc {
    font-size: 18px;
    margin-top: 40px;
  }

  .join_btn2 {
    margin-top: 32px;
  }

  .join_btn2 a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .join_btnn a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .btn_gpu_docs_wrap a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .btn_wraps {
    justify-content: center;
    display: flex;
    padding-bottom: 100px;
    margin: 10px auto;
  }

  .gpu_sub_text {
    text-align: left;
  }

  .top_header {
    width: 501px !important;
    height: 112px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .no-border {
    border-collapse: collapse;
  }

  .no-border th,
  .no-border td {
    border: none !important;
  }

  .gpu_text_2 {
    width: 721px;
    height: 72px;
    margin-top: -17px;
  }

  .btn_gpu_docs_wrap {
    text-align: center;
  }

  .btn_gpu_docs {
    height: 52px;
    width: 281px;
    left: 314.5px;
    top: 740px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    color: #000000b2;
  }

  .earn_wrap p {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .form_desc1 {
    font-size: 48px !important;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;
    height: 56px;
    width: 731.5px;
  }
  p.mx-auto.form_desc2.pt-3 {
    height: 48px;
    width: 900px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .text-wraps .ordered_details li {
    font-size: 20px !important;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    list-style: circle;
    margin-top: 24px;
    height: 56px;
    width: 777px !important;
  }

  .ordered_details > li:nth-child(2) {
    margin-top: 5px !important;
  }
  .ordered_details > li:nth-child(3) {
    margin-top: 5px !important;
    font-size: 20px;
  }
  .ordered_details > li:nth-child(4) {
    margin-top: 5px !important;
    font-size: 20px;
  }

  .join_header_text {
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .gpu_text_n {
    text-align: left;
    margin-top: 40px;
  }

  .table_description {
    width: 770px;
    font-size: 16px;
  }

  .gpu_hr {
    width: 1000px;
    margin-top: 20px;
  }

  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    width: 800px;
  }
}

@media (max-width: 576px) {
  .text_img {
    width: 100% !important;
    margin: 10px auto;
  }

  .no-border {
    border-collapse: collapse;
  }

  .rewards__desc {
    width: 330px;
  }

  .no-border th,
  .no-border td {
    border: none;
  }

  .join_btnn a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .btn_gpu_docs_wrap a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .horizontal-line_table {
    width: 500px;
  }

  .horizontal-line {
    width: 320px;
  }
  .caption_table {
    width: 350px !important;
  }

  body > div.wrap.container-xxl > div.content > div {
    margin-top: 35px;
  }

  .earn_wrap p {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .gpu_sub_text {
    font-size: 18px;
  }
  .gpu_description {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn_gpu_docs {
    height: 52px;
    width: 251px;
    left: 314.5px;
    top: 740px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    color: #000000b2;
  }
  .btn_gpu_docs_wrap {
    margin: 10px auto;
    text-align: center;
  }
  body {
    overflow-x: hidden !important;
  }

  .illustration_wrap p {
    height: 56px;
    width: 230px;
    text-align: center;
    margin: 10px auto;
  }

  .form_desc1 {
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    width: 330px;
  }

  .date_text {
    margin-top: 90px;
    text-align: center;
    font-size: 18px;
  }
  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    height: 48px;
    padding: 40px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -30px;
    line-height: 26px;
  }

  .sub_header_text {
    width: 330px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-top: 40px;
  }

  .ordered_details > li:nth-child(2) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .ordered_details > li:nth-child(3) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }
  .ordered_details > li:nth-child(4) {
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  .text-wraps .ordered_details {
    list-style-type: circle;
    width: 100%;
  }

  p.Gpu_header {
    font-weight: 900;
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 36px;
    margin-top: -10px;
  }

  .gpu_text_n {
    color: #040404;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .gpu_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    height: 84px;
    width: 330px;
    margin-top: 40px;
  }
  .btn_wraps .s_d-btns {
    height: 52px;
    width: 157px !important;
    border-radius: 8px;
    padding: 12px 14px 12px 14px;
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 9px;
    margin-right: 20px;
    border: none;
    outline: none;
    margin-top: 40px;
  }

  .btn_wraps {
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    display: flex;
  }

  .gpu_text_2 {
    font-size: 18px;
    height: 56px;
    width: 330px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .join_header_text {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 20px;
  }
  .join_header_desc {
    font-size: 18px;
    width: 100%;
    margin-top: 27px;
  }

  .join_btn2 {
    margin-top: 40px;
  }

  .no-border {
    margin-left: 15px !important;
  }
}
@media (min-width: 618px) and (max-width: 759px) {
  .text_img {
    width: 100% !important;
    margin: 10px auto;
  }

  .image_wraps {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-border {
    border-collapse: collapse;
  }

  .rewards__desc {
    width: 330px;
  }

  .horizontal-line_table {
    width: 460px;
  }

  .no-border th,
  .no-border td {
    border: none;
  }

  .join_btnn a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .btn_gpu_docs_wrap a button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  .horizontal-line {
    border-top: 1px solid #0000001a;
    margin: 1px auto;
    width: 350px;
  }

  body > div.wrap.container-xxl > div.content > div {
    margin-top: 35px;
  }

  .earn_wrap p {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .gpu_sub_text {
    font-size: 18px;
  }
  .gpu_description {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn_gpu_docs {
    height: 52px;
    width: 251px;
    left: 314.5px;
    top: 740px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    color: #000000b2;
  }
  .btn_gpu_docs_wrap {
    margin: 10px auto;
    text-align: center;
  }
  body {
    overflow-x: hidden !important;
  }

  .illustration_wrap p {
    height: 56px;
    width: 230px;
    text-align: center;
    margin: 10px auto;
  }

  .form_desc1 {
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    width: 530px;
  }

  .date_text {
    margin-top: 90px;
    text-align: center;
    font-size: 18px;
  }
  .section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    height: 48px;
    padding: 40px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -30px;
    line-height: 26px;
  }

  .sub_header_text {
    width: 330px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-top: 40px;
  }

  .ordered_details2 > li:nth-child(2) {
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ordered_details2 > li:nth-child(3) {
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  section:nth-child(3) > div > div > ol > li:nth-child(2) {
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }
  section:nth-child(3) > div > div > ol > li:nth-child(3) {
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }
  section:nth-child(3) > div > div > ol > li:nth-child(4) {
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  .text-wraps .ordered_details {
    list-style-type: circle;
    width: 100%;
  }

  p.Gpu_header {
    font-weight: 900;
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 36px;
    margin-top: -10px;
  }

  .gpu_text_n {
    color: #040404;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .gpu_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    height: 84px;
    width: 610px;
    margin-top: 40px;
  }
  .btn_wraps .s_d-btns {
    height: 52px;
    width: 157px !important;
    border-radius: 8px;
    padding: 12px 14px 12px 14px;
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 9px;
    margin-right: 20px;
    border: none;
    outline: none;
    margin-top: 40px;
  }

  .btn_wraps {
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    display: flex;
  }

  .gpu_text_2 {
    font-size: 18px;
    height: 56px;
    width: 330px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .join_header_text {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 20px;
  }
  .join_header_desc {
    font-size: 18px;
    width: 100%;
    margin-top: 27px;
  }

  .join_btn2 {
    margin-top: 40px;
  }

  .no-border {
    margin-left: 15px !important;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  p.mx-auto.form_desc1.mb-3 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }

  .no-border {
    border-collapse: collapse;
  }

  .rewards__desc {
    width: 330px;
  }

  .no-border th,
  .no-border td {
    border: none;
  }

  .btn_gpu_docs {
    height: 52px;
    width: 251px;
    left: 314.5px;
    top: 740px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    color: #000000b2;
  }

  .btn_wraps {
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    display: flex;
  }

  .btn_wraps .s_d-btns {
    height: 52px;
    width: 157px !important;
    border-radius: 8px;
    padding: 12px 14px 12px 14px;
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 9px;
    margin-right: 20px;
    border: none;
    outline: none;
    margin-top: 40px;
  }

  .earn_wrap p {
    position: relative;
    margin: 10px auto !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .earn_wrap {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    position: relative;
  }

  .btn_gpu_docs_wrap {
    margin: 10px auto;
    text-align: center;
  }

  .ordered_details2 > li:nth-child(2) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ordered_details2 > li:nth-child(3) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  .ordered_details > li:nth-child(2) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .ordered_details > li:nth-child(3) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }
  .ordered_details > li:nth-child(4) {
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
  }

  p.Gpu_header {
    font-size: 34px;
    font-weight: 900;
    width: 470px;
  }

  section:nth-child(5) > div > div > div > p {
    width: 487px;
    text-align: center;
    margin: 20px auto;
  }

  p.text-center.join_header_text {
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 20px;
  }
}
@media (min-width: 634px) and (max-width: 767px) {
  p.Gpu_header {
    width: 600px;
    text-align: left;
    font-size: 34px;
  }

  section:nth-child(3) > div > div > ol > li:nth-child(2),
  section:nth-child(3) > div > div > ol > li:nth-child(3),
  section:nth-child(3) > div > div > ol > li:nth-child(4) {
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  .horizontal-line {
    width: 703px;
  }

  p.gpu_text,
  p.gpu_sub_text {
    font-weight: 500 !important;
    font-size: 24px;
  }

  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    margin-top: -30px;
    line-height: 26px;
  }
}

@media (max-width: 576px) {
  .Gpu_header {
    text-align: center;
    width: 100%;
  }

  section:nth-child(1) > div > div > div > p.mx-auto.form_desc2 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    margin-top: -30px;
    line-height: 26px;
  }

  p.gpu_text {
    width: 100% !important;
  }
}

@media (max-width: 430px) {
  div.btn_wraps.col-md-10 > a > button {
    font-size: 12px;
  }

  div.btn_gpu_docs_wrap > a > button {
    font-size: 12px;
  }
  .Gpu_header {
    text-align: center;
    width: 100%;
    font-size: 30px;
  }

  .join_btnn {
    margin-top: 110px;
  }

  .no-border {
    margin-left: 15px;
  }

  .caption_table {
    width: 300px !important;
  }

  .form_desc1 {
    font-size: 30px;
  }

  .horizontal-line_table {
    width: 330px;
  }

  .horizontal-line {
    width: 320px;
  }
}

@media (max-width: 350px) {
  .no-border {
    margin-left: 0;
  }

  .caption_table {
    width: 300px;
  }

  .form_desc1 {
    font-size: 30px;
  }

  .ordered_details2 > li:nth-child(2) {
    width: 290px;
  }

  .ordered_details2 > li:nth-child(2) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ordered_details2 > li:nth-child(3) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  .horizontal-line_table {
    width: 300px;
  }
  .horizontal-line {
    width: 320px;
  }

  .ordered_details > li:nth-child(2) {
    width: 300px;
  }
  .ordered_details > li:nth-child(3) {
    width: 300px;
  }
  .ordered_details > li:nth-child(4) {
    width: 300px;
  }
}
@media (max-width: 360px) {
  .no-border {
    margin-left: 0;
  }

  .caption_table {
    width: 300px;
  }

  .form_desc1 {
    font-size: 30px;
  }

  .ordered_details2 > li:nth-child(2) {
    width: 290px;
  }

  .ordered_details2 > li:nth-child(2) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ordered_details2 > li:nth-child(3) {
    width: 330px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 9px !important;
  }

  .horizontal-line_table {
    width: 300px;
  }
  .horizontal-line {
    width: 320px;
  }

  .ordered_details > li:nth-child(2) {
    width: 300px;
  }
  .ordered_details > li:nth-child(3) {
    width: 300px;
  }
  .ordered_details > li:nth-child(4) {
    width: 300px;
  }
}

@media screen and (min-width: 538px) and (max-width: 647px) {
  .join_btnn {
    margin-top: 38px;
  }

  .horizontal-line {
    width: 550px;
  }

  p.Gpu_header {
    font-weight: 700;
    font-size: 29px;
    width: 100%;
  }

  p.gpu_text {
    width: 100%;
  }
  div.btn_wraps.col-md-10 > a > button {
    font-size: 12px;
  }

  div.btn_gpu_docs_wrap > a > button {
    font-size: 12px;
  }
}
@media screen and (min-width: 431px) and (max-width: 579px) {
  .join_btnn {
    margin-top: 120px;
  }
  div.btn_wraps.col-md-10 > a > button {
    font-size: 12px;
  }

  div.btn_gpu_docs_wrap > a > button {
    font-size: 12px;
  }
}

@media screen and (min-width: 431px) and (max-width: 565px) {
  .horizontal-line_table {
    width: 260px;
  }
}
