header {
  padding: 18px 8px 16px 8px;
  border-bottom: 1px solid #ebebeb;

  @media only screen and (max-width: 992px) {
    padding: 16px 8px 14px 14px;
  }

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }

  // logo
  .akash-logo-nav {
    width: $akash-logo-width;
    height: $akash-logo-height;
    margin-top: -5px;
    padding: 0;
    display: block;
    background-image: url($akash-logo-primary);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }

  .nav-links-container {
    gap: 24px;

    a {
      font-size: 18px;
      color: #000;
    }
  }

  .social-links {
    gap: 14px;
  }

  // launch console
  .nav-btn-primary {
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
    margin-left: 24px;
    padding: 10px 22px 10px 16px;
    gap: 8px;
    background-color: #fa5757;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s ease-in-out;

    span {
      margin-bottom: 4px;
    }

    &:hover {
      color: #fff;
      background-color: #ec5252;
    }

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .small-device-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sidebar {
      position: absolute;
      top: 0px;
      right: -100%;
      height: 100vh;
      width: 256px;
      z-index: 1000;
      background-color: #fff;
      border: 1px solid #ebebeb;
      padding: 20px;
      transition: 0.3s ease-in-out;
    }

    .sidebar.open {
      right: 0;
    }
  }
}
