.news-letter-btn {
  width: 208px;
  height: 45px;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  text-align: center;
  background: #000;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 48px;
}

.out-link-svg svg {
  margin-bottom: 3px;
  margin-right: 7px;
  stroke: #fff;
}

.out-link-svg svg path {
  stroke: #fff;
}

.footer_wrapper {
  background-color: #ffdede;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.footer_wrapper .newsletter-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 767px) {
  .footer_wrapper .newsletter-text {
    font-size: 26px;
    width: 290px;
  }
}
