.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}
.anchor {
  visibility: hidden;
}

.d-wrap_dark a .disc {
  display: none !important;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.card-list {
  margin-top: 2.25rem;
}

.page-footer-meta {
  margin-top: 3rem;
}

.edit-page,
.last-modified {
  font-size: $font-size-sm;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.edit-page svg,
.last-modified svg {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

.hr_in {
  width: 323px;
  text-align: left;
  background: #00000033;
}

.header_in {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.section_features .feature_detail {
  height: 72px;
  width: 608px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.step_detail {
  height: 64px;
  width: 323px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #0000008c;
}

.blog-title {
  margin-bottom: 40px;
}

.footer_wrapper h3 {
  font-size: 18px;
  text-align: left;
  @media only screen and (min-width: 768px) {
    font-size: 32px;
  }
}
.footer_wrapper {
  background-color: #ffdede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 328px;
  width: 100%;
  margin: auto auto;
  border-radius: 8px;
  padding: 51px 21px;
}

.form-control {
  background: none;
  border: none;
  outline: none;
  width: 250px !important;
}

.sub_title1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000073;
}

@include media-breakpoint-up(md) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .hr_ {
    width: 600px;
    margin: 30px auto;
  }

  .feature_detail {
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  .owl-carousel {
    display: none !important;
  }

  div > div:nth-child(1) > div > a > h3 > span {
    width: 280px;
    margin-top: 50px;
  }

  #infra > p,
  #infra > div:nth-child(3) > p,
  #infra > div:nth-child(4) > p,
  #infra > div:nth-child(5) > p,
  #infra > div:nth-child(6) > p,
  #infra > div:nth-child(7) > p,
  #infra > div:nth-child(8) > p,
  #infra > div:nth-child(9) > p,
  #infra > div:nth-child(10) > p {
    width: 270px;
  }

  .group-1_header,
  .group-2_header,
  .group-3_header {
    color: #00000066;
    font-size: 24px;
    width: 270px !important;
    position: relative;
    left: 100px;
  }

  .highlight_header {
    color: #000;
  }

  .highlight_header::after {
    background-color: #000;
  }

  .highlight_header > h3 > span {
    position: relative;
    z-index: 1;
  }

  hr {
    height: 0px;
    width: 711px;
    left: 360px;
    top: 40px;
    margin: 20px auto;
    padding-bottom: 80px;
  }

  .blog-title {
    font-size: 30px;
    margin-bottom: 100px !important;
    width: 100%;
  }

  .section_features .groups_wrapper {
    // display: flex !important;
    position: relative;
    justify-content: space-between;
    left: 30px;
    gap: 200px;
  }
}

@include media-breakpoint-up(lg) {
  .feature_section {
    margin-top: -70px !important;
  }

  .underline__1 {
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 1px !important;
    background-color: #000 !important;
    color: #000;
    right: 0;
    left: 0;
  }

  .group-1_header,
  .group-2_header,
  .group-3_header {
    display: inline-block;
    color: #00000066;
    font-size: 24px;
    width: 100px;
    position: relative;
    left: 0;
    right: 0;
  }

  .highlight_header {
    color: #fa5757;
  }

  .highlight_header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px; /* Adjust this value to control the distance of the underline from the text */
    width: 100%;
    height: 3px;
    background-color: #fa5757;
  }

  .highlight_header > h3 > span {
    position: relative;
    z-index: 1;
  }

  .hr_ {
    width: 991px;
    margin: 30px auto;
  }

  div:nth-child(1) > div > h3 span {
    transition: border-bottom 0.3s ease; /* Add transition effect to the border bottom */
  }

  div:nth-child(1) > div > h3 span:hover {
    color: #000;
  }

  .section_features .groups_wrapper {
    display: flex !important;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -200px !important;
    left: 30px;
  }

  #infra > p,
  #infra > div:nth-child(3) > p,
  #infra > div:nth-child(4) > p,
  #infra > div:nth-child(5) > p,
  #infra > div:nth-child(6) > p,
  #infra > div:nth-child(7) > p,
  #infra > div:nth-child(8) > p,
  #infra > div:nth-child(9) > p,
  #infra > div:nth-child(10) > p {
    width: 608px;
  }

  .featured_header p {
    color: #00000066;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .link-underline:hover {
    color: #000;
    transition: 0.3s ease-in-out;
  }

  .feature_section .wrapper {
    margin-top: 150px !important;
    grid-column-gap: 128px;
  }

  .header-text {
    width: 600px;
    text-align: center;
    height: 144px;
    line-height: 72px;
    font-weight: 900;
  }

  .feature_section .own_cloud {
    font-size: 32px;
    line-height: 40px;
    width: 437px;
  }

  .feature_section .super {
    font-size: 32px;
    line-height: 40px;
  }

  .feature_section .utility {
    font-size: 32px;
    line-height: 40px;
    width: 455px;
  }

  .feature_section .wrapper {
    margin-top: 150px !important;
  }

  .hr_security {
    width: 200px;
  }

  .leasing_header {
    margin-top: 100px !important;
  }

  p .feature_section {
    font-size: 18px;
    width: 467px;
  }

  .carousel-container {
    display: none;
  }

  div > div:nth-child(1) > div > h3 > span {
    width: 280px;
    margin-top: 20px;
    cursor: pointer;
  }

  hr {
    height: 0px;
    width: 891px;
    left: 360px;
    top: 40px;
    margin: 20px auto;
    padding-bottom: 80px;
  }

  .three-groups-wrapper {
    position: relative;
    left: -35px;
  }
}

.header_ibc {
  width: 200px;
}

.ibc_detail {
  padding-top: 120px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .section_features h5 {
    padding-top: 15px;
  }

  .group-1_header,
  .group-2_header,
  .group-3_header {
    font-size: 20px;
  }

  .highlight_header {
    color: #fa5757;
  }

  .highlight_header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #fa5757;
  }

  .highlight_header > h3 > span {
    position: relative;
    z-index: 1;
  }

  .footer_wrapper {
    background-color: #ffdede;
    height: 318px;
    width: 100%;
  }
  .d-wrap a .disc {
    position: relative;
    right: 10px !important;
  }

  .footer_wrapper h3 {
    height: 64px;
    top: 80px;
    font-size: 24px;
    text-align: center;
  }

  .header_in {
    font-size: 20px;
  }

  .hr_in {
    width: 200px;
  }

  .hr_security {
    width: 180px;
  }

  .step_detail {
    font-size: 21px;
    width: 200px;
  }

  .ibc_detail {
    padding-top: 70px;
  }

  .leasing_header {
    margin-top: 100px !important;
  }

  .feature_detail_2 {
    width: 250px;
  }

  .blog-title {
    font-size: 30px;
    margin-bottom: 60px !important;
    width: 100%;
    padding-top: -10px;
    text-align: center;
    margin-top: 0 !important;
  }

  .hr_ {
    width: 680px;
    margin: 30px auto;
  }

  .blog_hr {
    width: 600px;
    margin: 30px auto;
  }

  .header-text {
    width: 430px !important;
    font-size: 37px !important;
    text-align: center;
    margin: 10px auto !important;
  }

  p.lead.my-4 {
    width: 370px !important;
    margin: 10px auto !important;
    font-size: 17px !important;
  }

  .three-groups-wrapper {
    display: flex;
    justify-content: space-between !important;
    margin-right: 100px !important;
    gap: 150px !important;
    position: relative;
    left: -70px;
  }
  .section_features > div > div > div > div:nth-child(1) > div > h3 {
    width: 240px !important;
  }

  #infra > div:nth-child(8) > h5 {
    width: 230px;
  }
  #infra > div:nth-child(6) > h5 {
    width: 230px;
  }
}

@media (min-width: 992px) {
  .feature_detail {
    width: 608px !important;
    font-size: 19px;
  }

  .ibc_detail {
    padding-top: 60px;
  }

  .blog-title {
    font-size: 30px;
    margin-bottom: 40px !important;
    width: 100%;
  }
  .footer_wrapper {
    background-color: #ffdede;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .feature_detail {
    width: 100% !important;
  }
  .blog_wrapper .col-sm-6 {
    margin-top: 30px;
  }

  // .footer_wrapper {
  //   background-color: #ffdede;
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  // }

  .h2_footer {
    width: 230px !important;
    font-size: 19px;
    width: 230px;
    text-align: center;
    margin: 0 auto;
  }

  .form-control {
    width: 190px !important;
  }

  .form_control-wrapper {
    width: 300px !important;
    margin: 0 auto !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: -27px !important;
    position: relative;
  }
}

@media (max-width: 768px) {
  .blog_wrapper p {
    padding-top: -60px !important;
  }

  .form_control-wrapper {
    display: block !important;
    width: 390px;
    border-radius: 8px;
    padding: 70px;
  }

  .emailText_wrapper {
    width: 230px !important;
    margin: 10px auto;
  }

  .blog_hr {
    margin-top: -35px;
    padding-bottom: 30px;
    width: 343px;
    margin: 0 auto;
  }

  .hr_ {
    padding-bottom: 40px;
    width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .step_detail {
    margin-top: 100px;
  }

  .ibc_detail {
    padding-top: 0px !important;
  }

  .leasing_header {
    margin-top: 40px;
  }
}
@media (max-width: 592px) {
  .section_features .groups_wrapper {
    display: none;
  }

  .hr_ {
    padding-bottom: 40px;
    width: 360px;
    margin: 30px auto;
  }

  .blog-title {
    margin-left: 0 !important;
  }
}

.carousel-container h4 {
  height: 99px;
  width: 200px;
  left: 0px;
  top: 0px;
  font-size: 26px;
  font-weight: 900;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

@media only screen and (min-width: 992px) and (min-width: 1419px) {
  .header-text {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: -0.02em;
    text-align: center;
    height: 56px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  body
    > section.section.section-sm.text-left.section_features
    > div
    > div
    > div {
    padding-top: 150px;
  }
}

@media only screen and (min-width: 1419px) {
  .header-text {
    font-size: 42px !important;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;
    height: 56px;
    width: 100%;
  }

  .section_features .groups_wrapper {
    padding-top: 90px;
  }
}

@media only screen and (min-width: 587px) {
  .section_features .groups_wrapper {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .section_features .groups_wrapper {
    display: none !important;
  }
}

.groups_wrapper {
  display: flex;
}

@media (min-width: 699px) and (max-width: 767px) {
  .hr_ {
    width: 100%;
  }
}

@media (min-width: 430px) and (max-width: 576px) {
  .hr_ {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .hr_ {
    width: 1050px;
  }

  .three-groups-wrapper {
    gap: 140px !important;
    margin-top: -50px;
  }
}

// HERO SECTION
.hero {
  .hero-title {
    max-width: 900px;
    margin-top: 120px;

    @media only screen and (max-width: 992px) {
      max-width: 95%;
      margin-top: 100px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 80px;
    }
    @media only screen and (max-width: 576px) {
      max-width: 100%;
      margin-top: 60px;
    }

    h1 {
      width: 100%;
      font-size: 72px !important;
      font-weight: 700;
      color: #000;
      margin: 0 auto 0 auto;

      .title-text {
        .title-suffix {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          @media only screen and (max-width: 576px) {
            gap: 6px;

            .title-suffix-text {
              span {
                display: block;
                text-align: end;
              }
            }
          }
        }
      }

      @media only screen and (max-width: 1200px) {
        font-size: 60px !important;
      }
      @media only screen and (max-width: 992px) {
        font-size: 56px !important;
      }
      @media only screen and (max-width: 768px) {
        font-size: 48px !important;
      }
      @media only screen and (max-width: 576px) {
        font-size: 40px !important;
      }
    }

    @media only screen and (max-width: 576px) {
      .hero-title-img {
        display: block;

        svg {
          width: 105px;
          height: 100px;
        }
      }
    }
  }

  .hero-subtitle {
    max-width: 950px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin: 57px auto 0 auto;

    @media only screen and (max-width: 768px) {
      max-width: 100%;
      font-size: 16px;
    }
  }

  .hero-btn-container {
    margin-top: 59px;
    gap: 24px;

    a {
      width: 200px;
      height: 56px;
      font-size: 18px;
      font-weight: 700;
      background-color: #fa5757;
      color: #fff;
      gap: 6px;
      border-radius: 8px;
      transition: 0.3s ease-in-out;

      svg path {
        transition: 0.3s ease-in-out;
      }
    }
    a:nth-child(2) {
      background-color: #fff;
      color: #fa5757;
      border: 2px solid #fa5757;
    }
    a:nth-child(1) span {
      margin-left: -6px;
    }
    a:nth-child(2) span {
      margin-top: -4px;
    }

    @media only screen and (max-width: 768px) {
      margin-top: 40px;

      a {
        width: 186px;
        height: 44px;
        font-size: 16px;
        font-weight: 500;
      }
      a:nth-child(2) span {
        margin-top: -1px;
      }
    }
    @media only screen and (max-width: 576px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .hero-footer {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #1e1e1e;
    opacity: 0.7;
    margin-top: 48px;

    a {
      border-bottom: 2px solid #1e1e1ebb;
      transition: 0.3s ease-in-out;
    }

    @media only screen and (max-width: 992px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .hero-btn-container a:hover,
  .hero-footer a:hover,
  .hero-btn-container a:focus,
  .hero-footer a:focus {
    text-decoration: none;
  }

  .hero-btn-container a:hover {
    &:nth-child(1) {
      background-color: #ec5252;
    }

    &:nth-child(2) {
      border-color: #ec5252;
      color: #ec5252;

      svg path {
        stroke: #ec5252;
      }
    }
  }
}

.hero-hr {
  width: 84%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.16);
  margin: 120px auto 0 auto;
  padding: 0%;

  @media only screen and (max-width: 768px) {
    // width: 90%;
    margin-top: 40px;
  }
}
// END HERO SECTION

// FEATURES SECTION
.features-row {
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
  }

  p {
    font-size: 18px;
    color: #000;
  }
}
.features-column {
  width: 80%;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
  }

  p {
    font-size: 16px;
    color: #000;
    margin-top: 40px;
  }
}
// END FEATURES SECTION

// LATEST BLOG SECTION
.latest-blog-wrapper {
  margin-top: 100px;
  scroll-behavior: smooth;

  @media only screen and (max-width: 768px) {
    // overflow-x: scroll;
    width: 100%;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    color: #000;

    @media only screen and (max-width: 768px) {
      font-size: 24px;
      font-weight: 700;
    }
  }

  a {
    text-decoration: none !important;
  }

  .latest-blog-cards-container {
    margin-top: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    min-height: 520px;

    @media only screen and (max-width: 1200px) {
      min-height: fit-content;
      padding-bottom: 50px;
    }

    @media only screen and (max-width: 768px) {
      overflow-x: scroll;
      scroll-behavior: smooth;
      width: 100%;
      justify-content: flex-start;
    }

    .latest-blog-card {
      position: relative;
      overflow: hidden;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      transition: all 0.5s ease;
      width: 100%;
      max-width: 420px;
      min-height: 440px;

      @media only screen and (max-width: 1200px) {
        min-height: fit-content;
      }

      @media only screen and (max-width: 768px) {
        min-width: 264px;
      }

      .latest-blog-img {
        overflow: hidden;
      }
      .latest-blog-img img {
        transition: all 0.5s ease-in-out;

        // height: 277px;
        // @media only screen and (max-width: 1200px) {
        //   height: 200px;
        // }
        // @media only screen and (max-width: 768px) {
        //   height: 192px;
        // }
      }

      // .latest-blog-category {
      //   position: absolute;
      //   top: 14px;
      //   right: 14px;
      //   height: 26px;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   padding: 14px 8px 0 8px;
      //   background: #fcefb5;
      //   text-transform: uppercase;

      //   p {
      //     font-size: 14px;
      //     font-weight: 700;
      //     color: rgba(0, 0, 0, 0.8);

      //     @media only screen and (max-width: 1200px) {
      //       font-size: 12px;
      //     }
      //   }
      // }

      .latest-blog-category {
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        background: #fcefb5;
        border-radius: 3px;
        text-transform: uppercase;

        p {
          font-size: 12px !important;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.8);
          margin: 0;
          letter-spacing: 1px;

          @media only screen and (max-width: 1200px) {
            font-size: 10px !important;
          }
        }
      }

      .latest-blog-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 24px 24px 60px 24px;

        @media only screen and (max-width: 768px) {
          padding: 12px 12px 60px 12px;
        }

        .latest-blog-writer {
          display: flex;
          justify-content: space-between;
        }

        .latest-blog-writer p {
          color: #000;
          font-size: 18px;
          font-weight: 400;
          margin: 0;

          @media only screen and (max-width: 1200px) {
            font-size: 16px;
          }
        }

        .latest-blog-title {
          margin-top: 24px;
          font-size: 24px;
          font-weight: 700;
          color: #000;

          @media only screen and (max-width: 1200px) {
            font-size: 20px;
          }

          @media only screen and (max-width: 768px) {
            font-size: 18px;
          }
        }

        .latest-blog-content {
          overflow: hidden;

          @media only screen and (max-width: 1200px) {
            display: none;
          }
        }

        .latest-blog-content div {
          color: #000;
          font-size: 16px;
          margin-bottom: -90px;
          z-index: -50;
          opacity: 0;
          transition: all 0.5s ease;

          @media only screen and (max-width: 1200px) {
            font-size: 14px;
          }
        }

        .latest-blog-meta {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          margin-top: 61px;
          padding: 0 24px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;

          @media only screen and (max-width: 768px) {
            padding: 0 12px;
          }

          p:nth-child(1) {
            color: #3c3c3c;
            font-weight: 500;
          }

          p:nth-child(2) {
            color: #787878;
          }
        }
      }
    }

    /* Overlay for the hover effect */
    .latest-blog-card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fa575710;
      border: 1px solid #666;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    /* Hover effect */
    .latest-blog-card:hover::after {
      opacity: 1;
    }
    .latest-blog-card:hover .latest-blog-img img {
      transform: scale(1.05);
    }
    .latest-blog-card:hover .latest-blog-content div {
      opacity: 1;
      margin-bottom: 0;
    }
  }
}
// END LATEST BLOG SECTION

// CONNECT WITH COMMUNITY SECTION
.community-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 100px;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    margin-top: 40px;
    gap: 30px;
  }

  .community-left {
    width: 100%;

    h3 {
      font-size: 40px;
      font-weight: 700;
      color: #000;

      @media only screen and (max-width: 768px) {
        font-size: 24px;
        font-weight: 700;
      }
    }

    p {
      font-size: 18px;
      margin-top: 38px;
      color: #000;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
        margin-top: 24px;
      }
    }

    .social-links {
      @media only screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  .community-right {
    width: 100%;

    svg rect {
      shape-rendering: geometricPrecision;
    }

    @media only screen and (max-width: 1400px) {
      svg {
        width: 600px;
        height: 600px;
      }
    }

    @media only screen and (max-width: 1200px) {
      svg {
        width: 540px;
        height: 540px;
      }
    }

    @media only screen and (max-width: 768px) {
      svg {
        width: 296px;
        height: 296px;
      }
    }

    .social-links {
      display: none;

      @media only screen and (max-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
      }

      @media only screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
  }

  .social-links {
    margin-top: 158px;
    display: flex;
    gap: 24px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffdede;
      width: 64px;
      height: 64px;
      border-radius: 32px;

      svg {
        width: 50%;
        height: 50%;

        path {
          stroke: #000;
        }
      }

      @media only screen and (max-width: 768px) {
        width: 48px;
        height: 48px;
      }
    }
  }
}

// SUBSCRIBE SECTION
.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #ffdede;
  margin-top: 40px;
  padding: 60px 0 68px 0;
  text-align: center;

  h3 {
    font-size: 32px;
    font-weight: 700;
    max-width: 734px;
    color: #000;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    background-color: #fa5757;
    color: #fff;
    border-radius: 49px;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      background-color: #ec5252;
    }
  }

  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 24px;
      max-width: 70%;
    }
  }

  @media only screen and (max-width: 576px) {
    gap: 24px;
    padding: 32px 0 40px 0;

    h3 {
      font-size: 18px;
      max-width: 80%;
    }

    a {
      width: 136px;
      height: 44px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

// SECTION THREE: NEW
.section-three-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 200px;

  @media only screen and (max-width: 1200px) {
    margin-top: 120px;
    gap: 40px;
  }

  @media only screen and (max-width: 768px) {
    margin-top: 100px;
    flex-direction: column;
    gap: 48px;
    overflow: hidden;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
  }

  .section-three-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 280px;

    @media only screen and (max-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
      gap: 56px;
      width: 740px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .tablinks {
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 4px solid #fa575700;
      text-align: left;
      width: 100%;
      padding: 0;

      @media only screen and (max-width: 768px) {
        min-width: 196px;
      }

      p {
        font-size: 24px;
        font-weight: 700;
        color: #787878;
        width: 80%;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
          width: 100%;
        }
      }
    }

    .tablinks.active {
      border-bottom: 4px solid #fa5757;
      p {
        color: #fa5757;
      }
    }
  }

  .section-three-right {
    max-width: 700px;

    @media only screen and (max-width: 1200px) {
      width: 80%;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      color: #000;

      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 18px;
      margin: 0;
      padding: 20px 0 56px 0;
      color: #000;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}

// test section
// .tests-container {
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
//   gap: 50px;

//   position: relative;
// }

// .tests-left-parent {
//   min-width: 200px;
//   height: 100%;
// }

// .tests-left {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
//   border: 1px solid #ccc;
//   padding: 12px;
//   background-color: #000;
//   width: 200px;
// }

// .sticky-test {
//   margin: 0 auto;
//   position: fixed;
//   top: 100px;
// }
