.section_features .feature_detail {
  height: 72px;
  width: 608px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.home-blog-title {
  position: relative;
  left: 110px;
}

.carousel-container {
  display: none;
}
.footer_wrapper h3 {
  font-size: 24px;
  text-align: left;
}
.footer_wrapper {
  background-color: #ffdede;
  height: 328px;
  width: 971px;
  margin: auto auto;
  border-radius: 8px;
  padding-top: 80px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.section .header-text {
  width: 100%;
  text-align: center;
  font-size: 80px;
}

.section .lead {
  width: 600px;
}

.header-text {
  font-size: 666px;
}

.three-group-features {
  margin-top: 100px;
  padding-bottom: 64px;
}

.underline__1 {
  position: absolute;
  bottom: -13px;
  width: 100%;
  height: 1px;
  background-color: #000;
  color: #000;
  right: 0;
  left: 0;
}

.group-1_header,
.group-2_header,
.group-3_header {
  display: inline-block;
  color: #00000066;
  font-size: 24px;
  width: 100px;
  position: relative;
  left: 0;
  right: 0;
}

.highlight_header {
  color: #000;
}

.highlight_header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.highlight_header > h3 > span {
  position: relative;
  z-index: 1;
}

.hr_ {
  width: 991px;
  margin: 30px auto;
}

div:nth-child(1) > div > h3 span {
  transition: border-bottom 0.3s ease;
}

div:nth-child(1) > div > h3 span:hover {
  color: #000;
}

.feature_detail_2 {
  width: 608px;
}

.featured_header {
  margin-top: 70px;
}

.group-1-top {
  padding-top: 15px;
}

.group-2-wrapper,
.group-3-wrapper {
  margin-top: 100px;
}
.group-1,
.group-2,
.group-3 {
  margin-top: 40px;
}

.featured_header p {
  color: #00000066;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-in {
  width: 595px;
}

.link-underline:hover {
  color: #000;
  transition: 0.3s ease-in-out;
}

.feature_section .first-content-wrapper,
.second-content-wrapper,
.third-content-wrapper {
  margin-top: 70px;
  grid-column-gap: 128px;
}

.second-content-wrapper .order-md-last {
  margin-top: 70px;
}
.third-content-wrapper > div {
  margin-top: 70px;
}

.feature_section .own_cloud {
  font-size: 32px;
  line-height: 40px;
  width: 437px;
}

.feature_section .super {
  font-size: 32px;
  line-height: 40px;
}

.feature_section .utility {
  font-size: 32px;
  line-height: 40px;
  width: 455px;
}

p .feature_section {
  font-size: 18px;
  width: 467px;
}

div > div:nth-child(1) > div > h3 > span {
  width: 280px;
  margin-top: 20px;
  cursor: pointer;
}

.three-groups-wrapper {
  position: relative;
  left: -15px;
  gap: 80px;
}

.sticky-wrapper {
  top: 80px;
  margin-top: 30px;
}

.home-blog-click-title a {
  height: 64px;
  width: 297px;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
  color: black;
}

.home-blog-wrapper {
  gap: 50px;
}

.home-blog-title {
  margin-bottom: 40px;
}

.footer-d-wrapper {
  margin-top: 50px;
}

/* Default styles for laptop and larger screens */
@media screen and (min-width: 1440px) {
  .hr_ {
    width: 1050px;
  }

  .three-groups-wrapper {
    gap: 140px;
    margin-top: -50px;
  }
}

// Tablet or medium screen
// Tablet or medium screen
@media (max-width: 1024px) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .section_features .three-groups-top-wrapper {
    display: none;
  }

  .carousel-container {
    display: block;
  }

  .hr_ {
    width: 660px;
  }

  .section .header-text {
    font-size: 45px;
    width: 600px;
    margin: 10px auto;
    text-align: center;
  }

  .section .lead {
    width: 400px;
    margin: 40px auto;
    text-align: center;
  }

  .feature_detail,
  .feature_detail_2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 100%;
  }

  div > div:nth-child(1) > div > a > h3 > span {
    width: 280px;
    margin-top: 50px;
  }

  .blog-card-content {
    text-align: center;
    margin: 0 auto;
  }

  .home-blog-click-title {
    width: 380px;
    margin: 30px auto;
    line-height: 40px;
  }

  .home-blog-click-title a {
    font-size: 34px;
  }

  .read-time-wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .group-1_header,
  .group-2_header,
  .group-3_header {
    color: #00000066;
    font-size: 24px;
    width: 270px;
    position: relative;
    left: 100px;
  }

  .highlight_header {
    color: #000;
  }

  .highlight_header::after {
    background-color: #000;
  }

  .highlight_header > h3 > span {
    position: relative;
    z-index: 1;
  }

  .home-blog-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    left: 0;
  }

  .section_features .groups_wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    left: 30px;
    gap: 200px;
  }

  .section_features h5 {
    padding-top: 15px;
  }

  .top-blog-wrapper {
    margin-top: 10px;
  }

  .home-blog-title {
    font-size: 35px;
    text-align: center;
  }

  .footer_wrapper {
    background-color: #ffdede;
    height: 318px;
    width: 691px;
  }

  .footer_wrapper h3 {
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
    width: 500px;
  }

  .feature_detail_2 {
    width: 250px;
  }

  .three-groups-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    gap: 150px;
    position: relative;
    left: -70px;
  }

  .section_features > div > div > div > div:nth-child(1) > div > h3 {
    width: 240px !important;
  }

  #infra > div:nth-child(8) > h5,
  #infra > div:nth-child(6) > h5 {
    width: 230px;
  }

  .footer_wrapper {
    background-color: #ffdede;
    width: 640px;
  }

  .top-blog-wrapper > div > .second-blog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  .home-blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Allow elements to stretch */
  }

  .col-sm-6.col-md-12.col-lg-4 {
    width: 100%; /* Ensure each blog card takes full width */
  }
}

@media (min-width: 699px) and (max-width: 700px) {
  .hr_ {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section_features .three-groups-top-wrapper {
    display: none;
  }

  .top-blog-wrapper > div > .second-blog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-sm-6.col-md-12.col-lg-4 {
    width: 100%;
  }

  .home-blog-click-title {
    width: 100%;
    line-height: 40px;
  }

  .home-blog-click-title a {
    font-size: 24px;
  }

  .home-blog-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .section .header-text {
    font-size: 55px;
    width: 650px;
    margin: 36px auto;
    line-height: 68px;
  }

  .home-blog-title {
    position: relative;
    left: 100px;
  }
}

// Tablet or medium screen END
// Tablet or medium screen END

//small-MOBILE SCREENS
//small-MOBILE SCREENS

@media (max-width: 592px) {
  .hr_ {
    width: 360px;
    padding-bottom: 5px;
  }

  .home-blog-title {
    position: relative;
    left: 0;
    font-size: 27px;
    text-align: left;
  }

  .section .header-text {
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    line-height: 40px;
  }

  .section .lead {
    width: 100%;
    margin-top: 40px;
  }

  .carousel-container h4 {
    width: 300px;
    left: 0px;
    top: 0px;
    font-size: 26px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
  }

  .carousel-container {
    display: block;
    margin-top: 10px;
  }

  .mobile-feature-wrapper {
    padding-top: 30px;
  }

  .home-blog-click-title a {
    font-size: 20px;
  }

  .footer-content-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .footer_wrapper {
    width: 370px;
  }

  .footer_wrapper h3 {
    font-size: 20px;
  }

  .home-blog-click-title {
    width: 300px;
    line-height: 40px;
    margin: 10px auto;
  }

  .home-blog-title {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    left: 0;
  }
}

@media (min-width: 587px) and (max-width: 592px) {
  .mobile-feature-wrapper {
    margin-top: 70px;
  }
}

@media (min-width: 430px) and (max-width: 576px) {
  .hr_ {
    width: 100%;
  }
}
