.custom-col-13 {
  width: 100%;
  margin: 0 auto;
}

.praetor-top-title {
  text-align: center;
  width: 1000px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.12px;
  margin-top: 60px;
}

.praetor-desc {
  width: 600px;
}

.praetor-hr2 {
  width: 1231px;
  margin: 90px auto;
}

.praetor-text {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
}

.tab-contents-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.deployment-steps {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.praetor-btn {
  background: #ff414c;
  color: #fff;
  border-radius: 6px;
  margin-top: 40px;
  padding: 6px 14px;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s ease;
}

.praetor-btn .ex-link-arrow2 svg path {
  stroke: #fff;
}

.praetor-btn:hover {
  background: var(--slate-100, #e6e6e6);
  color: #000;
}

.praetor-btn:hover .ex-link-arrow2 svg path {
  stroke: #000;
}

.console-resource-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

.resource-s-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-top: 24px;
}

.available-op-wrapper {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.option-s-header {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.available-op-btn button {
  padding: 16px 20px;
  align-items: center;
  color: #000;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  transition: 0.3s ease;
}

.available-op-btn button:hover {
  background: #ff414c;
  color: #fff;
}

.available-op-btn button:hover .ex-link-arrow svg path {
  stroke: #fff;
}

.available-op-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 24px auto;
}

// FOR LAPTOPS
@media (min-width: 992px) and (max-width: 1400px) {
  .custom-col-13 {
    width: 85%;
    margin: 0 auto;
  }

  .praetor-text {
    // width: 900px;
    font-size: 35px;
    margin-top: 60px;
    line-height: 60px;
  }

  section .praetor-hr2 {
    width: 1090px;
    margin: 90px auto;
  }
  .tabs-d-wrapper {
    margin-bottom: -20px;
    margin-top: 80px;
  }

  .available-op-btn button {
    padding: 14px 18px;
  }

  .tab-button.active {
    text-decoration: 3px solid black underline;
    text-underline-offset: 18px;
  }
}

//FOR TABLETS SCREEN
@media (max-width: 1200px) {
  section .praetor-top-title {
    width: 600px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  section .praetor-hr2 {
    width: 100%;
    margin: 50px auto;
  }
  .tab-content .console-resource-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }

  .tab-contents-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

// FOR SMALL SCREENS
@media (max-width: 767px) {
  section .praetor-top-title {
    width: 100%;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  .deploy-sub-header {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .tab-buttons-wrapper .praetor-hr2 {
    width: 100%;
  }

  section .praetor-hr2 {
    width: 100%;
    margin: 50px auto;
  }

  .tab-content .console-resource-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
  }

  .praetor-btn {
    margin-top: 10px;
  }

  .tab-contents-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  div > .deployment-steps {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    width: 294px;
  }

  section .praetor-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
  }

  .praetor-resource-header {
    margin-top: 60px;
  }

  .praetor-desc {
    width: 100%;
  }
}
