.token_page_wrapper {
  display: flex;
}
.token_title {
  font: bold;
  font-weight: 900;
  font-size: 56px;
  margin-top: 35px;
}

hr {
  color: #adb5bd;
}

.faq__hr {
  height: 0px;
  width: 731.5px;
  margin: 0 auto;
}

p.eco_tools_head {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.token_description {
  width: 300px;
  font-size: 16px;
  line-height: 24px;
}

.token_title_sm {
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: -0.96px;
  width: 330px;
  height: 112px;
}

section:nth-child(4) > div > div.col-lg-9 > p {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.72px;
}

#ecosystem-tools > div div > div > p > a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 5px;
}
#ecosystem-tools > div div > div > p > a:hover {
  opacity: 0.5;
}

.faq_question {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.faq__toggle {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  top: 0;
  left: 0;
  background: none;
  border: none;
  outline: none;
}

.faq_answer {
  width: 596px;
  font-size: 18px;
}

.second_faq_answer {
  width: 596px;
  font-size: 18px;
}

.token_description {
  width: 730px;
  margin-top: 20px;
}

.table_eco_wrapper_2 {
  height: 448px;
  width: 731.5px;
}

.token_coin_update {
  width: 516px;
  font-size: 19px;
}

div > div.faq_wrapper > p {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.token_page_hr1 {
  width: 745px;
  position: relative;
  left: -40px;
  margin-top: 80px;
}

.table_data_link a {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.table_data_link a:hover {
  opacity: 0.5;
}

.token_page_hr {
  width: 730px;
  margin: 80px 0 10px 0;
}

.table_eco_wrapper {
  height: 320px;
  width: 731.5px;
  margin-left: -100px;
}

.token_eco_desc {
  height: 57px;
  width: 731.5px;
  left: 0px;
}

.token_text-wrapper_ {
  padding-top: 60px;
}
.token_eco_header {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}

section:nth-child(3) > div > div.col-lg-9 > p {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: auto auto;
}

.top_faq_wrapper .faq-content_wrapper {
  margin: 30px auto;
}

.page-links h3 {
  height: 19px;
  font-size: 15px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.token_p_header {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.token_svg {
  position: relative;
  left: 100px;
}

.token_feature_header {
  padding: 60px auto;
}

@include media-breakpoint-up(md) {
  .token_page_wrapper {
    display: block;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .token_page_wrapper {
    display: block !important;
  }
}

@include media-breakpoint-up(md) {
  .token_page_wrapper {
    display: block;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .token_page_wrapper {
    display: block !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 698px) {
  .token_content {
    flex-direction: column;
  }
  .faq_down_hr {
    width: 100% !important;
  }

  .token_page_wrapper {
    display: block !important;
  }

  .token_description {
    margin-top: 10px;
  }

  .token_text-wrapper_small {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .token_page_hr_sm {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    position: relative;
    left: -4px;
  }

  .token_description {
    width: 303px;
  }

  .token_text-wrapper_small {
    justify-content: center;
    display: block;
    align-items: center;
  }

  .second__title {
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .token_svg {
    position: relative;
    left: 0;
  }
  .token_svg svg {
    height: 147px;
    width: 169px;
  }

  .sm-hand-coin svg {
    height: 188px;
    width: 270px;
  }

  .token_eco_desc {
    width: 100%;
  }

  .table_eco_wrapper {
    margin-left: 0;
  }

  .table_data_link a {
    font-size: 16px;
  }

  .token_coin_update {
    width: 100%;
  }

  .token_page_hr1 {
    width: 300px;
    position: relative;
    left: 0;
  }

  .token_page_hr1 {
    display: none;
  }

  #faq > div > div:nth-child(3) > div > div > p {
    width: 100%;
  }

  #faq__answer {
    width: 100%;
    font-size: 16px;
  }

  #faq
    > div
    > div.container.d-flex.justify-content-center.top_faq_wrapper
    > div
    > div
    > p {
    width: 100%;
  }

  #second_faq {
    width: 100%;
    font-size: 16px;
  }

  .faq__toggle {
    font-size: 20px;
  }

  .top_faq_wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .token_title {
    line-height: 55px;
  }

  section:nth-child(4) > div > div.col-lg-9 > p {
    display: none;
  }
}

@media (max-width: 991px) {
  .token_text-wrapper_ {
    display: none;
  }

  .token_page_hr {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for tablet screens */
  .token_text-wrapper {
    display: flex;
  }

  .token_page_hr {
    display: flex;
    width: 100%;
  }

  .token_svg {
    position: relative;
    left: 0;
  }

  .table_eco_wrapper {
    height: 320px;
    width: 731.5px;
    margin-left: 0;
  }

  .token_page_hr1 {
    width: 100% !important;
    position: relative;
    left: 0;
  }

  .coin_metrics_wrapper .metrics_num {
    font-size: 18px !important;
  }

  div:nth-child(1) > div:nth-child(1) > p.price_num {
    font-size: 22px !important;
  }
  div:nth-child(2) > div:nth-child(1) > p.market_cap_num {
    font-size: 22px !important;
  }

  .coin_metrics_wrapper > div.d-flex.gap-2 > div > p.trading_volume_num {
    font-size: 22px !important;
  }

  .top_faq_wrapper {
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .faq__toggle {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .token_eco_desc {
    width: 600px;
  }

  .coin_info_wrapper {
    position: relative;
    left: -40px;
  }

  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(2) {
    position: relative;
    left: 5px;
  }

  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(1) {
    position: relative;
    left: 4px;
  }

  .faq_question {
    width: 450px !important;
  }
  .second_faq_answer {
    width: 450px !important;
    font-size: 18px;
    margin-top: -20px;
  }

  #faq__answer {
    width: 450px !important;
    font-size: 18px;
    margin-top: -20px;
  }
  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(2) {
    position: relative;
    left: 20px;
  }

  .coin_metrics_wrapper > div.d-flex.gap-2 > div {
    position: relative;
    left: 17px;
  }

  #ecosystem-tools
    > div
    > div.col-lg-14
    > p.token_eco_desc.mx-auto.text-center {
    width: 500px;
  }

  .top_faq_wrapper .faq-content_wrapper {
    padding-top: 60px;
  }
}

@media (min-width: 992px) {
  .token_text-wrapper_small {
    display: none;
  }
}
@media (min-width: 699px) and (max-width: 767px) {
  .token_page_hr_sm {
    width: 100%;
    margin: 60px auto;
    position: relative;
    left: -20px;
  }

  .token_svg_ex {
    position: relative;
  }

  .token_svg {
    position: relative;
    left: 20px;
  }

  div:nth-child(9) > div.token_svg2 > svg {
    position: relative;
    left: 20px;
  }

  .token_description {
    width: 500px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .token_svg2 {
    position: relative;
    left: 100px;
  }
}

@media (min-width: 699px) and (max-width: 769px) {
  .second__title {
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .table_eco_wrapper {
    margin-left: 0;
  }

  .token_page_hr1 {
    width: 500px;
    position: relative;
    left: 0;
  }

  .token_eco_desc {
    width: 100%;
  }

  .top_faq_wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .faq__toggle {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 60px;
  }

  .second_faq_question {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  div:nth-child(1) > div:nth-child(1) > p.price_num {
    font-size: 22px !important;
  }
  div:nth-child(2) > div:nth-child(1) > p.market_cap_num {
    font-size: 22px !important;
  }

  .coin_metrics_wrapper > div.d-flex.gap-2 > div > p.trading_volume_num {
    font-size: 22px !important;
  }

  .coin_metrics_wrapper > div.d-flex.gap-2 > div {
    position: relative;
    left: 20px !important;
  }

  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(2) {
    position: relative;
    left: 5px;
  }

  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(1) {
    position: relative;
    left: -9px;
  }

  section:nth-child(3) > div > div.col-lg-9 > p {
    display: none;
  }
}

@media (max-width: 568px) {
  .token_svg svg {
    height: 147px;
    width: 169px;
  }

  .token_description {
    width: 330px;
    font-size: 16px;
    line-height: 24px;
  }

  .token_page_hr {
    display: none;
  }

  .token_svg_ex svg {
    height: 147px;
    width: 270px;
  }

  .token_eco_desc {
    width: 100%;
  }

  .table_eco_wrapper {
    height: 320px;
    width: 731.5px;
    margin-left: 0;
  }

  .table_data_link a {
    font-size: 16px;
    line-height: 12px;
  }

  .token_page_hr1 {
    width: 300px;
    position: relative;
    left: 0;
  }

  .token_coin_update {
    width: 100%;
  }

  table > tbody > tr > td > a > div > p {
    width: 90px;
  }

  .token_page_hr1 {
    display: none;
  }

  .faq__toggle {
    font-size: 20px;
    margin-bottom: 50px;
  }

  #faq > div > div:nth-child(3) > div > div > p {
    width: 310px;
  }

  #faq__answer {
    width: 100%;
    font-size: 16px;
  }

  #faq
    > div
    > div.container.d-flex.justify-content-center.top_faq_wrapper
    > div
    > div
    > p {
    width: 310px;
  }

  #second_faq {
    width: 100%;
    font-size: 16px;
  }

  .faq__toggle {
    font-size: 20px;
    margin-left: 0 !important;
  }

  .faq_question {
    width: 100%;
    font-size: 16px;
  }

  .faq_down_hr {
    width: 100%;
  }

  .token_page_hr_sm {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    position: relative;
    left: -4px;
  }

  .top_faq_wrapper .faq-content_wrapper {
    margin: 10px auto;
  }

  .ecosystem-tools_wrapper {
    margin-top: -50px;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  .top_faq_wrapper {
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .faq_question {
    width: 450px !important;
  }
  .second_faq_answer {
    width: 450px !important;
    font-size: 18px;
    margin-top: -20px;
  }

  #faq__answer {
    width: 450px !important;
    font-size: 18px;
    margin-top: -20px;
  }

  div:nth-child(1) > div:nth-child(1) > p.price_num {
    font-size: 22px !important;
  }
  div:nth-child(2) > div:nth-child(1) > p.market_cap_num {
    font-size: 22px !important;
  }

  .token_feature_header {
    display: flex !important;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(2) {
    position: relative;
    left: 17px;
  }

  #token-metrics
    > .align-items-center.gap-5.coin_metrics_wrapper
    > div:nth-child(1) {
    position: relative;
    left: 4px;
  }
}

@media (max-width: 768px) {
  .token_feature_header {
    display: none;
  }
}
