{{ define "main" }}
<div class="row justify-content-center mb-2">
  <div class="col-md-3">
    <nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </div>

  <div class="col-md-13 col-lg-8">
    <div class="col">
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
    <div class="col">
      {{ .Content }}
      {{ if .Params.tags -}}
      <div class="mt-4">
        {{ range $index, $tag := .Params.tags -}}
          <a class="btn btn-light" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
        {{ end -}}
      </div>
      {{ end -}}
      <div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
        {{ if .Site.Params.lastMod -}}
          {{ partial "main/last-modified.html" . }}
        {{ end -}}
        {{ if .Site.Params.editPage -}}
          {{ partial "main/edit-page.html" . }}
        {{ end -}}
      </div>
    </div>
  </div>

  <div class="col-md-3">
		<nav class="docs-toc{{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-xl-block" aria-label="Secondary navigation">
			{{ partial "sidebar/docs-toc.html" . }}
		</nav>
  </div>
</div>
</div>
{{ end }}