{{ define "main" }} {{ partial "content/tag-button.html" . }}
<div class="main-container">
  <div class="main-content">
    <h1 class="main-title text-center mb-5 text-capitalize">{{ .Title }}</h1>
    {{ with .Content }}
    <div class="main-text">{{ . }}</div>
    {{ end }}
  </div>
</div>
<div class="blog-list-container">
  {{ $paginator := .Paginate (.Data.Pages) }}
  <div class="blog-list">
    {{ range $paginator.Pages }}
    <div class="blog-card">
      <div class="blog-card-img">
        <a href="{{ .RelPermalink }}">
          {{ partial "content/card-image.html" . }}
        </a>
      </div>
      <div class="blog-card-body">
        <p class="blog-card-title">
          <a href="{{ .RelPermalink }}"> {{ truncate 42 .Params.title }} </a>
        </p>
        <div class="">
          {{ partial "main/writer.html" . }} {{ partial "main/blog-meta.html" .
          }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<div
  class="pagination-container text-center mx-auto d-flex justify-content-center"
>
  <div class="pagination">{{ template "_internal/pagination.html" . }}</div>
</div>
{{ end }}
