<!-- <footer class="footer text-muted container">
    <div class="akash_info_wrapper d-flex justify-content-between">
      <div>
       <p class="akash_info_text" style="
       left: 370px;
       font-size: 12px;
       font-weight: 400;
       line-height: 20px;
       letter-spacing: 0em;
       text-align: left;">{{ .Site.Params.footer | safeHTML }}</p>
      </div>
      <aside class="">
        <div class="">
          {{ range .Site.Menus.footer -}}
            <p class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></p>
          {{ end -}}
      </div>
      </aside>

  </div>
</footer> -->

<footer class="footer-container">
  <div class="footer-title">
    {{ partial "content/svg.html" "Group 116" }}
    <span class="footer-title-text">akash.network</span>
  </div>
  <div class="footer-container-2">
    <div class="footer-col-1 link-name">
      <p>
        © 2023 The Akash Network Authors | <br />
        Documentation Distributed under CC BY 4.0
      </p>
      <p>
        The decentralized cloud Foundation has registered trademarks and uses
        trademarks
      </p>
      <p class="footer-section-bottom">
        Open-source. Apache 2.0 Licensed. v0.22.8.
      </p>
      <div class="footer-github-privacy">
        <h6>
          <a
            class="text-decoration-none text-white"
            target="_blank"
            href="https://github.com/akash-network/node"
          >
            GitHub v0.20.0
          </a>
        </h6>
        <h6>
          <a
            class="text-decoration-none text-white"
            target="_blank"
            href="https://akash.network/privacy"
          >
            Privacy
          </a>
        </h6>
      </div>
    </div>
    <div>
      <h6>Tools</h6>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://console.akash.network/"
        >
          Akash Console
        </a>
      </p>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://cloudmos.io/"
        >
          Cloudmos
        </a>
      </p>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://akash.praetorapp.com/auth/login"
        >
          Praetor App
        </a>
      </p>
    </div>
    <div>
      <h6>Quick Links</h6>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="docs.akash.network"
        >
          Docs
        </a>
      </p>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="ecosystem.akash.network"
        >
          Ecosystem
        </a>
      </p>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="/community"
        >
          Community
        </a>
      </p>
      <p class="link-name">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="/token"
        >
          Token
        </a>
      </p>
      <p class="link-name">
        <a class="text-decoration-none text-white" target="_blank" href="/blog">
          Blog
        </a>
      </p>
    </div>
    <div>
      <p class="socials">Socials</p>
      <p>
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://twitter.com/akashnet_"
        >
          {{ partial "content/svg.html" "twitter" }}
          <span class="social-name">Twitter</span>
        </a>
      </p>
      <p>
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://github.com/akash-network"
        >
          {{ partial "content/svg.html" "github" }}
          <span class="social-name">Github</span>
        </a>
      </p>
      <p>
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://discord.gg/akash"
        >
          {{ partial "content/svg.html" "discord-white" }}
          <span class="social-name">Discord</span>
        </a>
      </p>
      <p>
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://www.youtube.com/c/AkashNetwork"
        >
          {{ partial "content/svg.html" "youtube" }}
          <span class="social-name">Youtube</span>
        </a>
      </p>
    </div>
    <div class="footer-github-privacy-sm">
      <h6>
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://github.com/akash-network/node"
        >
          GitHub v0.20.0
        </a>
      </h6>
      <h6>
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://akash.network/privacy"
        >
          Privacy
        </a>
      </h6>
    </div>
  </div>
  <div class="footer-col-bottom link-name">
    <p>
      © 2023 The Akash Network Authors | <br />
      Documentation Distributed under CC BY 4.0
    </p>
    <p>
      The decentralized cloud Foundation has registered trademarks and uses
      trademarks
    </p>
    <p class="footer-section-bottom">
      <a href="">Open-source</a> Apache 2.0 Licensed. v0.22.8.
    </p>
  </div>
  <div class="text-center mt-4">
    <p class="">© 2023 All Rights Reserved</p>
  </div>
</footer>

<!-- © 2023 The Akash Network Authors | Documentation Distributed under CC BY 4.0 -->

<!-- <ul class="nav flex-column flex-lg-row">
          {{ range .Site.Menus.social -}}
            <li class="nav-item">
              <a class="nav-link social-link" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-lg-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
        </ul>

        {{ if .Site.Params.options.darkMode -}}
        <hr class="text-black-50 my-4 d-lg-none">
        <button id="mode" class="btn btn-link" type="button" aria-label="Toggle user interface mode">
          <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
          <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
        </button>
        {{ end -}} -->
