{{ $fillImage := .Scratch.Get "fillImageCard" }} {{ if not $fillImage -}} {{
$fillImage = site.Params.fillImage }} {{ end }} {{ $imageURL := (printf "%s%s"
"images/" site.Params.defaultImage) }} {{ if .Params.images -}} {{ $blogimage :=
.Resources.GetMatch (printf "**%s" (index .Params.images 0)) }} {{ $imageURL =
$blogimage.RelPermalink }} {{ end }} {{ $webpURL := (replace $imageURL ".gif"
".webp") }}

<picture>
  <source srcset="{{ $webpURL }}" type="image/webp" />
  <img
    class="card-img-top img-fluid lazyload"
    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
    data-src="{{ $imageURL }}"
    alt="{{ .Title }}"
  />
</picture>
