<div class="footer_wrapper py-2 rounded-3 align-items-center d-flex">
  <div class="d-grid justify-content-center align-items-center mx-auto">
    <h2 class="mx-auto text-center w-100 newsletter-text">
      Stay up to date with the Akash Newsletter
    </h2>
    <aside class="mx-auto">
      <a
        class="mx-auto"
        target="_blank"
        href="https://akashnet.typeform.com/to/awKX5bPw"
      >
        <button type="submit" class="news-letter-btn">
          <span class="out-link-svg"
            >{{ partial "content/svg.html" "arrow-circled" }}</span
          >
          Subscribe Now
        </button>
      </a>
    </aside>
  </div>
</div>

<style>
  .news-letter-btn {
    width: 208px;
    height: 45px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    text-align: center;
    background: #000;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 48px;
  }

  .out-link-svg svg {
    margin-bottom: 3px;
    margin-right: 7px;
    stroke: #fff;
  }

  .out-link-svg svg path {
    stroke: #fff;
  }

  @media (max-width: 767px) {
    .footer_wrapper .newsletter-text {
      font-size: 26px;
    }
  }
</style>
