<div class="footer_wrapper py-2 rounded-3 align-items-center d-flex">
  <div class="d-grid justify-content-center align-items-center mx-auto">
    <h2 class="mx-auto text-center newsletter-text">
      Stay up to date with the Akash Newsletter
    </h2>
    <aside class="mx-auto">
      <a
        class="mx-auto"
        target="_blank"
        href="https://akashnet.typeform.com/to/awKX5bPw"
      >
        <button type="submit" class="news-letter-btn">
          <span class="out-link-svg"
            >{{ partial "content/svg.html" "arrow-circled" }}</span
          >
          Subscribe Now
        </button>
      </a>
    </aside>
  </div>
</div>
