{{ define "main" }}


<section class="section pb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="my-4 mx-auto top_header">{{ .Title }}</h1>
      <p class="text-center fs-sm" style="font-size: 18px; margin-top: 24px; margin-bottom: 40px;">May 29, 2023 - Jun 16, 2023</p>
      <img class="w-100" style="border-radius: 4px;" src="{{ .Site.BaseURL }}/mobile_img/gpu_test.png" alt="img">
      <p class="text-left mt-5 gpu_description">{{ .Description}}</p>
      <p class="text-left  gpu_description">By joining the Akash GPU Testnet, you’re helping to define how open-source cloud computing will operate in the AI era.</p>
    </div>
  </div>
</section>
<section class="section-wrap container-fluid mt-n3 pb-5">
  <div class="row justify-content-center">
    <div class="col-md-11 d-flex justify-content-center align-items-center">
      <div class="wrapper_form">
          <p class="mx-auto form_desc1">Join the Akash GPU Testnet</p>
          <p class="mx-auto  form_desc2" style="">Sign up to help test the first open-source cloud for open-source GPUs and AI. Earn rewards for providing compute and deploying AI models. Complete the form below to participate.</p>
        <div class="mx-auto text-center" style="padding-top: 65px;">
          <button class="mx-auto text-white py-2 px-4"  style="background: #272626; border-radius: 6px; font-size: 14px">
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-wrap container-fluid mt-n3 pb-5" style="padding-top: 112px;">
  <div class="row justify-content-center">
    <div class="col-md-11 text-wraps">
        <p class="Gpu_header">The Open-Source Cloud for GPU Compute</p>
        <p class="gpu_text">Be among the first to test a revolutionary new open-source marketplace for GPU compute</p>
 <ol class="ordered_details">
 <li style="" class="mt-4">Get access to powerful GPUs like the NVIDIA A100 & H100 that are difficult to get anywhere else.</li>
 <li class="" style="">Tap into a massive network of idle consumer-grade GPUs.</li>
 <li class="third_li"style="margin-top: -10px;">Run the latest open-source AI models.</li>
 <li class="forth_li" style="margin-top: -10px;"> Fine-tune popular open-source AI models on your own data.</li>
 <!-- <hr class="my_hr2 mx-auto" style="width: 900px; text-align: center; position: relative; right: 20px; color: #00001A; margin-top: 64px;" /> -->
</ol>

<p class="sub_header_text mt-1">3 ways to earn rewards for participating</p>
<ol class="ordered_details2" style="
">
 <li style="" class="mt-4">Provide your GPUs to the network and receive rewards for the duration of the GPU Testnet.</li>
 <li class="" style="">Deploy AI models and benchmark their performance.</li>
 <li class=""style="margin-top: -10px;">Create deployment files (SDL: Stack Definition Language) to containerize and match AI models with resource requirements..</li>
</ol>

        </div>
      </div>
</section>


{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm mt-5 feature_section">
  <div class="container text-left d-none d-md-block d-md-block">
    <div class="row flex-md-row-reverse m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center wrapper">
      <div class="col-md-12 col-lg-6">
      </div>
    </div>

    </div>
    </div>
  </div>
</section>
<section class="section pb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
    </div>
  </div>
</section>

{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="container-fluid" style="margin-top:500px;">
  <div class="row">
    <div class="">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}

