{{ define "main" }}

<!-- //mobile device carousel -->
{{ partial "owl/owlcarousel.html" . }}
<script>
 $(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    center: true,
    autoplay:true,
    autoplayTimeout:4000,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1,
            nav:true,
        },
        600:{
            items:1,
            nav:false,
        },
        1000:{
            items:3,
            nav:true,
            loop:false,
        }
    }
  })
});



// 3 groups scroll behaviour

$(document).ready(function() {
function highlightMenuItem() {
  var scrollTop = $(window).scrollTop();
  $('.group-1_header, .group-2_header, .group-3_header').removeClass('highlight_header').find('.underline__1').remove();

  if (scrollTop >= $('.peer-header').offset().top) {
    $('.group-3_header').addClass('highlight_header');
  } else if (scrollTop >= $('#security').offset().top && scrollTop < $('.peer-header').offset().top) {
    $('.group-2_header').addClass('highlight_header');
  } else if (scrollTop >= $('#infra').offset().top && scrollTop < $('#security').offset().top) {
    $('.group-1_header').addClass('highlight_header');
  }
}

  $(window).scroll(function() {
    highlightMenuItem();
  });

  $(window).on('load', function() {
    highlightMenuItem();
  });

  function handleClickEvent() {
    $('.group-1_header, .group-2_header, .group-3_header')

    $(this).addClass('clicked_header');
  }

  $('.group-1_header, .group-2_header, .group-3_header').click(handleClickEvent);

  $('.group-1_header').click(function() {
    $('html, body').animate({
      scrollTop: $('#infra').offset().top
    }, 20);
  });

  $('.group-2_header').click(function() {
    $('html, body').animate({
      scrollTop: $('#security-section').offset().top -20
    }, 20);
  });

  $('.group-3_header').click(function() {
    $('html, body').animate({
      scrollTop: $('.peer-header').offset().top + 40
    }, 20);
  });

  $(window).on('scroll', function() {
    $('.group-1_header, .group-2_header, .group-3_header')
  },{ passive: true });
});


</script>




<section class="section mt-n3 pb-5">
  <div class="">
    <div class="d-flex justify-content-center row">
      <div class="col-md-12 col-lg-14">
        <h1 class="header-text">{{ .Title }}</h1>
      </div>
    </div>
    <div class="col-md-16 col-lg-16 text-center">
      <p class="lead mx-auto">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2 mt-3" href="https://console.akash.network" role="button"
        target="_blank">{{ i18n "get-started" }}</a>
      <p class="meta mt-3">
        <a href="https://github.com/akash-network" target="_blank">Open-source.</a>
        Apache 2.0 Licensed.
        <a href="https://github.com/akash-network/node" target="_blank">
          {{ $data := getJSON "https://api.github.com/repos/ovrclk/akash/releases/latest" }}
          {{ $data.name }}.
        </a>
      </p>
    </div>
  </div>
</section>
{{ end }}


{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="feature_section">
  <div class="container text-left d-none d-md-block">
    <div class="row flex-md-row-reverse m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center first-content-wrapper">
      <div class="col-md-12 col-lg-5 text-center svg-container">
        {{ partial "content/svg.html" "cloud_new" }}
      </div>
      <div class="col-md-14 col-lg-7">
        <h2 class="h4 utility">You will own your cloud, and you will be happy</h2>
        <p>With Akash, you have the power to own your cloud.
          You can deploy your own cloud infrastructure, and you can sell
          your unused cloud resources to others.
           You can also buy cloud resources from others, and you can use them to run your applications.</p>
      </div>
    </div>
    <div class="row m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center second-content-wrapper">
      <div class="col-md-14 col-lg-7 mt-sm-5 order-md-last">
        <h2 class="super">Supercloud at your fingertips, at a price you choose</h2>
        <p>Akash is an open <a href="http://supercloud.cs.cornell.edu/" target="_blank"> Supercloud </a> network that
          makes it easy to rapidly scale and access services around the world. It uses a "reverse auction" system, where
          customers submit their desired price and providers compete for the business. This often results in prices up
          to 85% lower than other cloud systems.</p>
      </div>
      <div class="col-md-12 col-lg-5 text-center order-md-first svg-container">
        {{ partial "content/svg.html" "fingertips" }}
      </div>
    </div>
    <div class="row flex-md-row-reverse m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center third-content-wrapper">
      <div class="col-md-12 col-lg-5 text-center mt-md-5 svg-container">
        {{ partial "content/svg.html" "community_h" }}
      </div>
      <div class="col-md-14 col-lg-7">
        <h2 class="utility">Built for battle, commanded by the community</h2>
        <p>Akash is owned and managed by its community. It is a free public service, and the source code that powers
          it is available to everyone. It is built on dependable technologies like Kubernetes and Cosmos, and
          the community oversees all aspects of Akash — including decisions about what new features should be
          implemented.</p>
      </div>
    </div>
    </div>
    </div>
  </div>


  <!-- Mobile Version -->
  <div class="container justify-content-center text-left d-xs-block d-sm-block d-md-none">
    <div class="row">
      <div class="col mt-5">
        <div class="d-flex justify-content-center mx-auto svg-container">
          {{ partial "content/svg.html" "cloud_mobile" }}
        </div>
        <h2 class="h4">You will own your cloud, and you will be happy</h2>
        <p>
          With Akash, you have the power to own your cloud. You can deploy your own cloud infrastructure, and you can
          sell your unused cloud resources to others. You can also buy cloud resources from others, and you can use them
          to run your applications.
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col mobile-feature-wrapper mt-5">
        <div class="d-flex justify-content-center mx-auto svg-container">
          {{ partial "content/svg.html" "Calculator_mobile" }}
        </div>
        <h2 class="">Supercloud at your fingertips, at a price you choose</h2>
        <p>Akash is an open <a href="http://supercloud.cs.cornell.edu/" target="_blank"> Supercloud </a> network that
          makes it easy to rapidly scale and access services around the world. It uses a "reverse auction" system, where
          customers submit their desired price and providers compete for the business. This often results in prices up
          to 85% lower than other cloud systems.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col mobile-feature-wrapper mt-5">
        <div class="d-flex justify-content-center mx-auto svg-container">
          {{ partial "content/svg.html" "Gestures_mobile" }}
        </div>
        <h2 class="h4">Purpose built for public utility</h2>
        <p>Akash is owned and managed by its community. It is a free public service, and the source code that powers
          it is available to everyone. It has been built on dependable technologies like Kubernetes and Cosmos, and
          the community oversees all aspects of Akash, including decisions about what new features should be
          implemented.</p>
      </div>

    </div>
  </div>
  </div>
</section>

<hr class="hr_">

<!-- THREE GROUPS -->
<section class=" text-left three-groups-features">
  <div class="container d-none d-md-none d-lg-block groups_wrapper">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center titles mx-auto three-groups-wrapper">
        <div class="position-sticky">
          <div class="sticky-top sticky-wrapper">
            <h3><span class="group-1_header">Infrastructure and Resource Management</span></h3>
            <div class="featured_header">
              <h3><span class="group-2_header">Security and Privacy</span></h3>
            </div>
            <div class="featured_header">
              <h3><span class="group-3_header">Blockchain and Interoperability</span></h3>
            </div>
          </div>
        </div>
        <div  class="group-1-top">
          <h5>Infrastructure as a Code</h5>
          <p id="infra" class="feature_detail_2">
            Akash's orchestration layer is powered by SDL. This simple-to-use YAML-based language lets you create complex deployments that span multiple areas and providers while choosing the resources you want to use and deciding on your price.
          </p>
          <div class="group-1">
            <h5>Kubernetes Powered</h5>
            <p class="feature_detail_2">
              Akash runs on Kubernetes, the industry-leading container orchestration system. <span id="security">With this in place, you can rest assured that your applications will be hosted on a secure and reliable platform that has been tested and proven to work.</span>
            </p>
          </div>
          <div class="group-1">
            <div class="header-2"></div>
            <h5 id="security-section">Persistent Storage</h5>
            <p class="feature_detail_2">
              Akash offers a limitless storage system that saves your data even after restarting. This is ideal for databases and programs that store large datasets.
            </p>
          </div>
          <div class="group-2-wrapper">
            <h5 class="dedicated">Dedicated IP Leasing</h5>
            <p class="feature_detail_2">
              Akash gives you the ability to rent a dedicated IP address for your application. This allows you to assign any port of your choice to your deployment and then direct traffic towards it. This is especially useful for services such as DNS, web servers, and more.
            </p>
          </div>
          <div class="group-2">
            <h5>Censorship Resistant and Unstoppable</h5>
            <p class="feature_detail_2">
              Deploying applications on Akash is open to everyone and is secure and censorship-proof. Nobody can stop you from using Akash to build apps that can't be censored.
            </p>
          </div>
          <div class="group-2">
            <h5 class="">Peer-to-peer and Private</h5>

            <p class="feature_detail_2 peer-header">
              You and the provider you're using to deploy your application communicate directly, without any external parties. This makes sure your data stays secure and private, and no one can claim a portion of your payments or keep track of what's happening. Furthermore, Akash's lack of central control makes it dependable and unaffected by single point of failure.
            </p>
          </div>
          <div class="group-2">
            <h5>Pseudonymous and Non-attributable</h5>
            <p class="feature_detail_2">
              The Akash protocol is designed to protect your identity, providing a high level of privacy and security. You can use it to deploy applications anonymously, without anyone knowing who you are.
            </p>
          </div>
          <div class="group-3-wrapper">
            <h5>Layer One Protocol</h5>
            <p class="feature_detail_2">
              Akash is a layer one protocol built using Cosmos SDK that uses Proof-of-Stake consensus to secure its network of decentralized validators. The network can be validated without permission and is secured by AKT, its native token.
            </p>
          </div>
          <div class="group-3">
            <h5>Interoperable with IBC</h5>
            <p class="feature_detail_2">
              Akash is the first blockchain to successfully carry out an Inter-Blockchain Communication (IBC) transaction with Cosmos Hub. This makes Akash able to communicate natively with other blockchains that are also IBC compatible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="owl-carousel">
  <!-- Slide 1 -->
  <div class="carousel-slide">
    <div class="carousel-container container">
      <h4 class="carousel-title">Infrastructure and Resource Management</h4>
      <h5 class="carousel-subtitle">Infrastructure as Code</h5>
      <p>Akash's orchestration layer is powered by SDL. This simple-to-use YAML-based language lets you create complex deployments that span multiple areas and providers while choosing the resources you want to use and deciding on your price.</p>
      <h5 class="carousel-subtitle">Kubernetes Powered</h5>
      <p>Akash runs on Kubernetes, the industry-leading container orchestration system. With this in place, you can rest assured that your applications will be hosted on a secure and reliable platform that has been tested and proven to work.</p>
      <h5 class="carousel-subtitle">Persistent Storage</h5>
      <p>Akash offers a limitless storage system that saves your data even after restarting. This is ideal for databases and programs that store large datasets.</p>
    </div>
  </div>

  <!-- Slide 2 -->
  <div class="carousel-slide">
    <div class="carousel-container container">
      <h4 class="carousel-title">Blockchain and Interoperability</h4>
      <h5 class="carousel-subtitle">Dedicated IP Leasing</h5>
      <p>Akash gives you the ability to rent a dedicated IP address for your application. This allows you to assign any port of your choice to your deployment and then direct traffic towards it. This is especially useful for services such as DNS, web servers, and more.</p>
      <h5 class="carousel-subtitle">Layer One Protocol</h5>
      <p>Akash is a layer one protocol built using Cosmos SDK that uses Proof-of-Stake consensus to secure its network of decentralized validators. The network can be validated without permission and is secured by AKT, its native token.</p>
      <h5 class="carousel-subtitle">Interoperable with IBC</h5>
      <p>Akash is the first blockchain to successfully carry out an Inter-Blockchain Communication (IBC) transaction with Cosmos Hub. This makes Akash able to communicate natively with other blockchains that are also IBC compatible.</p>
    </div>
  </div>

  <!-- Slide 3 -->
  <div class="carousel-slide">
    <div class="carousel-container container">
      <h4 class="carousel-title">Security and Privacy</h4>
      <h5 class="carousel-subtitle">Peer-to-peer and Private</h5>
      <p>You and the provider you're using to deploy your application communicate directly, without any external parties. This makes sure your data stays secure and private, and no one can claim a portion of your payments or keep track of what's happening. Furthermore, Akash's lack of central control makes it dependable and unaffected by a single point of failure.</p>
      <h5 class="carousel-subtitle">Censorship Resistant and Unstoppable</h5>
      <p>Deploying applications on Akash is open to everyone and is secure and censorship-proof. Nobody can stop you from using Akash to build apps that can't be censored.</p>
      <h5 class="carousel-subtitle">Pseudonymous and Non-attributable</h5>
      <p>The Akash protocol is designed to protect your identity, providing a high level of privacy and security. You can use it to deploy applications anonymously, without anyone knowing who you are.</p>
    </div>
  </div>
</div>

<hr class="hr_">
<section>
  <div class="top-blog-wrapper">
    <div class="container-sm justify-content-center align-items-center mx-auto">
      <div class="related-posts">
        <div class="second-blog-wrapper row justify-content-center align-items-center">
            <h3 class="home-blog-title pb-lg-0 pb-md-5 ">Latest From The Blog</h3>
        </div>
        <div class="home-blog-wrapper row justify-content-center align-items-center">
          {{- range (where site.RegularPages "Section" "blog" | first 3) }}
          <div class="col-sm-6 col-md-12 col-lg-4">
            <div class="">
              <a class="" href="{{ .RelPermalink }}">
                {{- .Scratch.Set "fillImageCard" "1270x715 Center" -}}
                {{ partial "content/card-image.html" . }}
              </a>
              <div class="blog-card-content" style="border: none;">
                <article>
                  {{ partial "main/writer.html" . -}}
                  <h2 class="home-blog-click-title">
                    <a class=""  href="{{ .RelPermalink }}">{{ .Params.title }}</a>
                  </h2>
                </article>
                <div class="read-time-wrapper d-flex gap-5">
                  <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                  <p>{{ .ReadingTime }} min read</p>
                </div>
              </div>
            </div>
          </div>
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>


<hr class="hr_">
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
  <div class="footer_wrapper py-2 rounded-3">
    <div class="d-flex justify-content-center align-items-center mt-lg-5 mt-sm-1 mt-md-5 footer-content-wrapper">
      <h3 class="mx-auto text-center footer-in">
        Interested in receiving the latest Akash news? Sign up for Akash Newsletter
      </h3>
    </div>
    <aside class="mx-auto emailText_wrapper text-center">
      <a target="_blank" href="https://akashnet.typeform.com/to/awKX5bPw">
        <button type="submit" class="btn btn-primary btn-lg px-4 mb-2 mt-3 text-center text-white mx-auto">
          Subscribe
        </button>
      </a>
    </aside>
  </div>

  <section class="container-fluid footer-d-wrapper">
    <div class="row">
      <div class="">
        {{- .Content -}}
      </div>
    </div>
  </section>
{{ end }}







