{{ define "main" }}

<!-- //mobile device carousel -->
{{ partial "owl/owlcarousel.html" . }}
<script>
 $(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    loop:true,
    autoplay:true,
    center: true,
    autoWidth: true,
    responsive:{
      0:{
        items:1
      },
      314:{
        items:2
      },
      600:{
        items:3
      },
      700:{
        items:2
      },
      800:{
        items:2
      },
      1000:{
        items:5
      }
    }
  })
});

</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var links = document.getElementsByClassName("underline-on-click");
  for (var i = 0; i < links.length; i++) {
    links[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      if (current.length > 0) {
        current[0].className = current[0].className.replace(" active", "");
      }
      this.querySelector(".link-underline").className += " active";
    });
  }
});

</script>


<section class="section container-fluid mt-n3 pb-5">
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <h1 class=" my-4 header-text mx-auto">{{ .Title }}</h1>
    </div>
    <div class="col-md-8 text-center">
      <p class="lead my-4">{{ .Params.lead | safeHTML }}</p>
      <a id="btn-get-started" class="btn btn-primary btn-lg px-4 mb-2 mt-3" href="https://console.akash.network" role="button"
        target="_blank">{{ i18n "get-started" }}</a>
      <p class="meta mt-3"><a href="https://github.com/akash-network" target="_blank">Open-source.</a> Apache 2.0 Licensed. <a href="https://github.com/akash-network/node" target="_blank">{{ $data :=
          getJSON "https://api.github.com/repos/ovrclk/akash/releases/latest" }}{{ $data.name }}.</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm mt-5 feature_section">
  <div class="container text-left d-none d-md-block d-md-block">
    <div class="row flex-md-row-reverse m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center wrapper">
      <div class="col-md-12 col-lg-5 text-center svg-container">
        {{ partial "content/svg.html" "cloud_new" }}
      </div>
      <div class="col-md-12 col-lg-6">
        <h2 class="h4 utility">You will own your cloud, and you will be happy</h2>
        <p>With Akash, you have the power to own your cloud.
          You can deploy your own cloud infrastructure, and you can sell
          your unused cloud resources to others.
           You can also buy cloud resources from others, and you can use them to run your applications.</p>
      </div>
    </div>
    <div class="row m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center wrapper">
      <div class="col-md-12 col-lg-6 order-md-last">
        <h2 class="h4 super">Supercloud at your fingertips, at a price you choose</h2>
        <p>Akash is an open <a href="http://supercloud.cs.cornell.edu/" target="_blank"> Supercloud </a> network that
          makes it easy to rapidly scale and access services around the world. It uses a "reverse auction" system, where
          customers submit their desired price and providers compete for the business. This often results in prices up
          to 85% lower than other cloud systems.</p>
      </div>
      <div class="col-md-12 col-lg-5 text-center order-md-first svg-container">
        {{ partial "content/svg.html" "fingertips" }}
      </div>
    </div>
    <div class="row flex-md-row-reverse m-5 d-lg-flex align-items-md-center mx-md-auto justify-content-md-center wrapper">
      <div class="col-md-12 col-lg-5 text-center mt-md-5 svg-container">
        {{ partial "content/svg.html" "community_h" }}
      </div>
      <div class="col-md-12 col-lg-6">
        <h2 class="h4 utility">Built for battle, commanded by the community</h2>
        <p>Akash is owned and managed by its community. It is a free public service, and the source code that powers
          it is available to everyone. It is built on dependable technologies like Kubernetes and Cosmos, and
          the community oversees all aspects of Akash — including decisions about what new features should be
          implemented.</p>
      </div>
    </div>

    </div>
    </div>
  </div>


  <!-- Mobile Version -->
  <div class="container justify-content-center text-left d-xs-block d-sm-block d-md-none">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center mx-auto svg-container">
          {{ partial "content/svg.html" "cloud_mobile" }}
        </div>
        <h2 class="h4">You will own your cloud, and you will be happy</h2>
        <p>
          With Akash, you have the power to own your cloud. You can deploy your own cloud infrastructure, and you can
          sell your unused cloud resources to others. You can also buy cloud resources from others, and you can use them
          to run your applications.
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col" style="margin-top: 70px;">
        <div class="d-flex justify-content-center mx-auto svg-container">
          {{ partial "content/svg.html" "Calculator_mobile" }}
        </div>
        <h2 class="h4">Supercloud at your fingertips, at a price you choose</h2>
        <p>Akash is an open <a href="http://supercloud.cs.cornell.edu/" target="_blank"> Supercloud </a> network that
          makes it easy to rapidly scale and access services around the world. It uses a "reverse auction" system, where
          customers submit their desired price and providers compete for the business. This often results in prices up
          to 85% lower than other cloud systems.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col" style="margin-top: 70px;">
        <div class="d-flex justify-content-center mx-auto svg-container">
          {{ partial "content/svg.html" "Gestures_mobile" }}
        </div>
        <h2 class="h4">Purpose built for public utility</h2>
        <p>Akash is owned and managed by its community. It is a free public service, and the source code that powers
          it is available to everyone. It has been built on dependable technologies like Kubernetes and Cosmos, and
          the community oversees all aspects of Akash, including decisions about what new features should be
          implemented.</p>
      </div>

    </div>
  </div>
  </div>

</section>

<hr class="hr_">

<section class="section section-sm text-left section_features" style="padding-bottom: 64px; margin-top: -130px;">
  <div class="container d-none d-sm-block groups_wrapper">
    <div class="d-flex justify-content-center pt-5">
      <div class="d-flex justify-content-center titles mx-auto">
        <div class="" style="position: sticky !important;">
          <div class="sticky-top" style="top: 80px; margin-left: 50px; margin-top: 30px;">
            <a href="#infra" class="underline-on-click">
              <h3><span class="link-underline">Infrastructure and Resource Management</span></h3>
            </a>
            <div class="featured_header">
              <a href="#security" class="underline-on-click">
                <h3><span class="link-underline">Security and Privacy</span></h3>
              </a>
            </div>
            <div class="featured_header">
              <a href="#blockchain" class="underline-on-click">
                <h3><span class="link-underline">Blockchain and Interoperability</span></h3>
              </a>
            </div>
          </div>
        </div>
        <div id="infra" class="" style="padding-top: 25px; margin-top: 15px; margin-left: 100px;">
          <h5 class="">Infrastructure as a Code</h5>
          <p class="feature_detail_2">Akash's orchestration layer is powered by SDL. This simple-to-use YAML-based language lets you create complex deployments that span multiple areas and providers while choosing the resources you want to use and deciding on your price.</p>
          <div style="margin-top: 40px;">
            <h5 class="">Kubernetes Powered</h5>
            <p class="feature_detail_2">Akash runs on Kubernetes, the industry-leading container orchestration system. With this in place, you can rest assured that your applications will be hosted on a secure and reliable platform that has been tested and proven to work.</p>
          </div>
          <div style="margin-top: 40px;">
            <h5 class="">Persistent Storage</h5>
            <p class="feature_detail_2">Akash offers a limitless storage system that saves your data even after restarting. This is ideal for databases and programs that store large datasets.</p>
          </div>
          <div id="security" style="margin-top: 40px;">
            <h5 class="">Dedicated IP Leasing</h5>
            <p class="feature_detail_2">Akash gives you the ability to rent a dedicated IP address for your application. This allows you to assign any port of your choice to your deployment and then direct traffic towards it. This is especially useful for services such as DNS, web servers, and more.</p>
          </div>
          <div style="margin-top: 40px;">
            <h5 class="">Censorship Resistant and Unstoppable</h5>
            <p class="feature_detail_2">Deploying applications on Akash is open to everyone and is secure and censorship-proof. Nobody can stop you from using Akash to build apps that can't be censored.</p>
          </div>
          <div style="margin-top: 40px;">
            <h5 class="">Pseudonymous and Non-attributable</h5>
            <p class="feature_detail_2">The Akash protocol is designed to protect your identity, providing a high level of privacy and security. You can use it to deploy applications anonymously, without anyone knowing who you are.</p>
          </div>
          <div style="margin-top: 40px;">
            <h5 class="">Peer-to-peer and Private</h5>
            <p id="blockchain" class="feature_detail_2">You and the provider you're using to deploy your application communicate directly, without any external parties. This makes sure your data stays secure and private, and no one can claim a portion of your payments or keep track of what's happening. Furthermore, Akash's lack of central control makes it dependable and unaffected by single point of failure.</p>
          </div>
          <div style="margin-top: 40px;">
            <h5 class="">Layer One Protocol</h5>
            <p class="feature_detail_2">Akash is a layer one protocol built using Cosmos SDK that uses Proof-of-Stake consensus to secure its network of decentralized validators. The network can be validated without permission and is secured by AKT, its native token.</p>
          </div>
          <div style="margin-top: 40px;">
            <h5 class="">Interoperable with IBC</h5>
            <p class="feature_detail_2">Akash is the first blockchain to successfully carry out an Inter-Blockchain Communication (IBC) transaction with Cosmos Hub. This makes Akash able to communicate natively with other blockchains that are also IBC compatible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="owl-carousel" >
  <div >
    <div class="carousel-container container">
      <h4 class="" style="width: 300px;">Infrastructure
        and Resource
        Management</h4>
      <h5 class="" style="width: 342px; margin-top: -20px;">Infrastructure as Code</h5>
        <p style="width: 342px;">Akash's orchestration layer is powered by SDL.
          This simple-to-use YAML-based language lets you create complex deployments that span multiple
           areas and providers while
          choosing the resources you want to use and deciding on your price.</p>
      <h5 class="" style="width: 342px;">Kubernetes Powered</h5>
        <p style="width: 342px;">Akash runs on Kubernetes, the industry-leading container orchestration system.
          With this in place, you can rest assured that your applications will be hosted
          on a secure and reliable platform that has been tested and proven to work.</p>
      <h5 class="" style="width: 342px;">Persistent Storage</h5>
        <p style="width: 342px; ">Akash's orchestration layer is powered by SDL.
          This simple-to-use YAML-based language lets you create complex deployments that span multiple
           areas and providers while
          choosing the resources you want to use and deciding on your price.</p>
      </div>
  </div>


  <div class="carousel-container container">
  <h4 class="">Blockchain and <br />Interoperability</h4>
  <h5 class="" style="width: 342px; margin-top: -25px;">Dedicated IP Leasing</h5>
  <p class="" style="width: 342px;">Akash gives you the ability to rent a dedicated IP address
    for your application. This allows you to assign any port of your choice to your deployment,
    and then direct traffic towards it.
    This is especially useful for services such as DNS, web servers, and more.</p>
  <h5 class="" style="width: 342px; ">Layer One Protocol</h5>
  <p class="" style="width: 342px;">Akash is a layer one protocol built using Cosmos SDK that
    uses Proof-of-Stake consensus to secure its network of decentralized validators.
    The network can be validated without permission and is secured by AKT, its native token.</p>
  <h5 class="" style="width: 342px;">Interoperable with IBC</h5>
  <p class="" style="width: 342px;">Akash is the first blockchain to successfully
    carry out an Inter-Blockchain Communication (IBC) transaction with Cosmos Hub.
   This makes Akash able to communicate natively with other blockchains
   that are also IBC compatible</p>
  </div>
  <div class="carousel-container container">
    <h4 class="">Security and Privacy</h4>
    <h5 class="" style="width: 342px; margin-top: -20px;"> Dedicated IP Leasing</h5>
    <p style="width: 342px;">Akash gives you the ability to rent a dedicated IP address for
       your application. This allows you to assign any port of your choice to your deployment,
        and then direct traffic towards it.
       This is especially useful for services such as DNS, web servers, and more.</p>
  <h5 class="" style="width: 342px;">Censorship Resistant and Unstoppable </h5>
    <p style="width: 342px;">Deploying applications on Akash is open to everyone, and is
       secure and censorship-proof.
      Nobody can stop you from using Akash to build apps that can't be censored.</p>

  <h5 class="" style="width: 342px;">Pseudonymous and  <br /> Non-attributable</h5>
    <p style="width: 342px;">The Akash protocol is designed to protect your identity, providing a high
      level of privacy and security.
       You can use it to deploy applications anonymously, without anyone knowing who you are.</p>
    </div>
</div>

<hr class="blog_hr"/>
<section>
  <div class="blog_post_wrapper" style="margin-top: -80px;">
    <div class="container justify-content-center align-items-center mx-auto">
      <div class="related-posts">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-6 col-md-12">
            <h3 class="blog-title">Latest From The Blog</h3>
          </div>
        </div>
        <div class="blog_wrapper row justify-content-center align-items-center">
          {{- range (where site.RegularPages "Section" "blog" | first 3) }}
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="">

              <a class="" href="{{ .RelPermalink }}">
                {{- .Scratch.Set "fillImageCard" "1270x715 Center" -}}
                {{ partial "content/card-image.html" . }}
              </a>
              <div class="card" style="border: none;">
                <article>
                  {{ partial "main/writer.html" . -}}
                  <h2 class="" style="height: 64px;
                  width: 297px;
                  font-family: Satoshi;
                  font-size: 23px;
                  font-weight: 700;
                  letter-spacing: 0em;
                  text-align: left;
                  margin-bottom: 30px;">
                    <a class="text-body" style="font-size: 30px !important; width: 70px !important;" href="{{ .RelPermalink }}">{{ .Params.title }}</a>
                  </h2>
                </article>
                {{ partial "main/blog-meta.html" . -}}
              </div>
            </div>
          </div>
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr_">
{{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<div class=" footer_wrapper py-2 rounded-3">
  <div class="d-flex justify-content-center align-items-center mt-lg-5 mt-sm-1 mt-md-5">
    <h3 class="mx-auto text-center" style="width: 595px;">Interested in receiving the latest Akash news?
      Sign up for Akash Newsletter</h3>
  </div>
  <aside class="mx-auto emailText_wrapper text-center d-lg-flex d-md-block d-sm-block justify-content-between align-items-center mt-lg-3 mt-sm-1 mt-md-2" style="border: 1px solid #0000001A; width: 440px;">
    <p class="m-3"> <img style="margin: 0 10px;" src="{{ .Site.BaseURL }}/mobile_img/mail-line.png" alt="img">jamie@example.com </p>
      <a target="_blank" href="https://akashnet.typeform.com/to/awKX5bPw">
        <button type="submit" class="bg-none border-none text-center" style="border: none; background: none; padding: 0 20px; color: #FA5757;">Subscribe</button>
      </a>
      </div>
    </aside>
  </div>
<section class="container-fluid" style="margin-top:50px;">
  <div class="row">
    <div class="">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}



