{{ define "main" }}

<section class="" style="margin-top: 90px;">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="">
        <p class="mx-auto form_desc1 mb-3">Join the Akash GPU Testnet</p>
        <p class="mx-auto text-center fw-bolder fs-4  mb-3 rewards__desc">Earn your share of over $100,000 in rewards</p>
        <p class="dates_text fw-bold" style="border: 2px solid #E6E6E6; margin: 44px auto; text-align: center; width: height 32px;
        width: 328px;
        color: #626060;
        border-radius: 6px;
        padding: 4px 8px 4px 8px;
        font-size: 14px;
        ">Starts: June 20th, 2023 - Ends: July 17th, 2023</p>
        <p class="mx-auto form_desc2 pt-3">
          Sign up to participate in testing the first open-source cloud for
          open-source GPUs and AI by providing GPUs, defining deployment specs,
          deploying AI models, and benchmarking GPU performance.
        </p>
        <div class="mx-auto text-center join_btnn">
          <a target="_blank" href="https://akashnet.typeform.com/to/x2fwKQFH">
          <button
            class="mx-auto text-white py-2 px-4"
            style="
              background: #fa5757;
              border-radius: 6px;
              border: none;
              outline: none;
              font-size: 14px; "
          >
        Join Now
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 56px;">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <img
        class="w-100 text_img"
        style="border-radius: 4px"
        src="{{ .Site.BaseURL }}/mobile_img/gpu-testnet-1.png"
        alt="img"
      />
      <p class="text-left mt-5 gpu_description">{{ .Description}}</p>
      <p class="text-left gpu_description">
        By joining the Akash GPU Testnet, you’re helping to define how
        open-source cloud computing will operate in the AI era.
      </p>
    </div>
  </div>
</section>

<div class="horizontal-line"></div>

<section style="margin-top: 64px;">
  <div class="row image_wraps justify-content-center mt-4">
    <div class="col-md-10 text-wraps">
      <p class="Gpu_header" style="margin-bottom: 20px;">Here's how you can earn</p>
        <div class=" d-lg-flex d-md-flex  d-sm-block gap-5">
          <div class="col-lg-8 col-md-8 col-sm-12 mb-4 earn_wrap">
            <img class="text_img"  src="{{ .Site.BaseURL }}/mobile_img/Frame 7782.png" alt="img" />
            <p class="text-center mt-3">Set up a GPU provider</p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 mb-4 earn_wrap">
            <img class="text_img" src="{{ .Site.BaseURL }}/mobile_img/pic2.png" alt="img" />
            <p class="text-center mt-3">Deploy AI models</p>
          </div>
        </div>
        <div class=" d-lg-flex d-md-flex d-sm-block gap-5 illustration_wrap">
          <div class="col-lg-8 col-md-8 col-sm-12 mb-4 earn_wrap">
            <img class="text_img"  src="{{ .Site.BaseURL }}/mobile_img/pic3.png" alt="img" />
            <p class="text-center mt-3">Build AI deployment templates (SDL)</p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 mb-4 earn_wrap">
            <img class="text_img" src="{{ .Site.BaseURL }}/mobile_img/pic4.png" alt="img" />
            <p class="text-center mt-3">Benchmark GPUs using PyTorch</p>
          </div>
        </div>
        <div class="btn_gpu_docs_wrap" style="margin-bottom: 58px;">
          <a target="_blank" href="https://github.com/akash-network/community/blob/main/wg-gpu/GPU-AI-Incentivized-Testnet.md">
          <button class="btn_gpu_docs ">
            View Tasks and Incentives Details {{ partial "content/svg.html" "icon" }}
          </button>
        </a>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="horizontal-line"></div>

<section style="margin-top: 64px;">
  <div class="row justify-content-center  mt-4">
    <div class="col-md-10 text-wraps">
      <div class="text-wrapper">

      </div>
      <p class="Gpu_header">The Open-Source Cloud for GPU Compute</p>
      <p class="gpu_text">
        Be among the first to test a revolutionary open-source marketplace for GPU compute
      </p>
      <ol class="ordered_details">
        <li class="mt-4">
          Get access to powerful GPUs like the NVIDIA A100 & H100 that are
          difficult to get anywhere else.
        </li>
        <li class="">
          Tap into a massive network of idle consumer-grade GPUs.
        </li>
        <li class="third_li" style="margin-top: -10px">
          Run the latest open-source AI models.
        </li>
        <li class="forth_li" style="margin-top: -10px">
          Fine-tune popular open-source AI models on your own data.
        </li>
        <!-- <hr class="my_hr2 mx-auto" style="width: 900px; text-align: center; position: relative; right: 20px; color: #00001A; margin-top: 64px;" /> -->
      </ol>
      <div class="btn_wraps col-md-10">
        <a target="_blank" href="https://docs.akash.network/testnet">
          <button class="btn_gpu_docs ">
            View GPU Docs {{ partial "content/svg.html" "icon" }}
          </button>

        </a>
      </div>
    </div>
  </div>
</section>

<div class="horizontal-line"></div>


<section style="margin-top: 64px;">
  <div class="row justify-content-center">
    <div class="col-md-10 text-wraps">
      <p class="Gpu_header">Earn Rewards for Your GPUs</p>
      <p
        class="gpu_sub_text">
      Provide your GPUs to the network and earn rewards by powering AI,
       machine learning, and graphics-intensive workloads.
      </p>
      <style>

      </style>

      <div class="table__border">
        <table class="no-border" style="margin: 70px;">
          <thead>
            <tr>
              <th>GPU Model</th>
              <th>Max Testnet Incentive</th>
            </tr>
          </thead>
          <tbody style="">
            <tr>
              <td>Nvidia H100</td>
              <td>$4,000</td>
            </tr>
            <tr>
              <td>Nvidia A100</td>
              <td>$2,800</td>
            </tr>
            <tr>
              <td>Nvidia V100</td>
              <td>$2,400</td>
            </tr>
            <tr>
              <td>Nvidia P100</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Nvidia A40</td>
              <td>$1,600</td>
            </tr>
            <tr>
              <td>Nvidia A10</td>
              <td>$1,200</td>
            </tr>
            <tr>
              <td>Nvidia P4</td>
              <td>$1,200</td>
            </tr>
            <tr>
              <td>Nvidia K80</td>
              <td>$800</td>
            </tr>
            <tr>
              <td>Nvidia T4</td>
              <td>$600</td>
            </tr>
            <tr>
              <td>Nvidia 4090</td>
              <td>$560</td>
            </tr>
            <tr>
              <td>Nvidia 3090Ti</td>
              <td>$480</td>
            </tr>
            <tr>
              <td>Nvidia 4080</td>
              <td>$440</td>
            </tr>
            <tr>
              <td>Nvidia 3090</td>
              <td>$320</td>
            </tr>
            <tr>
              <td>Nvidia 3080Ti</td>
              <td>$240</td>
            </tr>
            <tr>
              <td>Nvidia 3060Ti</td>
              <td>$220</td>
            </tr>
            <tr>
              <td>Nvidia 3080</td>
              <td>$200</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</section>



<section style="margin-top: 68px;">
  <div class="row justify-content-center">
    <div class="col-md-10 top_desc_wrapper">
      <p class=" text-center join_header_text">Join the Akash GPU Testnet</p>
      <p class="text-center join_header_desc">
        Sign up to participate in testing the first open-source cloud for open-source GPUs and AI by providing GPUs, defining deployment specs,
         deploying AI models, and benchmarking GPU performance.
      </p>
      <div class="mx-auto text-center join_btn2">
        <a target="_blank" href="https://akashnet.typeform.com/to/x2fwKQFH">
        <button
          class=" mx-auto text-white py-2 px-4 btn_join"
          style="
            background: #fa5757;
            border-radius: 6px;
            border: none;
            outline: none;
            font-size: 14px;
            "
        >
      Join Now
        </button>
      </a>
      </div>
    </div>
  </div>
</section>

{{ end }} {{ define "sidebar-footer" }}
<section class="container-fluid" style="margin-top: 70px">
  <div class="row">
    <div class="">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
