/* jost-regular - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: // Google Fonts Jost
    local("Jost Regular Regular"), // Full Name
    local("Jost-Regular"), // PostScript name
    // indestructible Jost*
    local("Jost* Book"),
    local("Jost-Book"),
    url("fonts/vendor/jost/jost-v4-latin-regular.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500 - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Medium"),
    local("JostRoman-Medium"),
    // indestructible Jost*
    local("Jost* Medium"),
    local("Jost-Medium"),
    url("fonts/vendor/jost/jost-v4-latin-500.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-700 - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Bold"),
    local("JostRoman-Bold"),
    // indestructible Jost*
    local("Jost* Bold"),
    local("Jost-Bold"),
    url("fonts/vendor/jost/jost-v4-latin-700.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Italic"),
    local("Jost-Italic"),
    // indestructible Jost*
    local("Jost* BookItalic"),
    local("Jost-BookItalic"),
    url("fonts/vendor/jost/jost-v4-latin-italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Medium Italic"),
    local("JostItalic-Medium"),
    // indestructible Jost*
    local("Jost* Medium Italic"),
    local("Jost-MediumItalic"),
    url("fonts/vendor/jost/jost-v4-latin-500italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-700italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Bold Italic"),
    local("JostItalic-Bold"),
    // indestructible Jost*
    local("Jost* Bold Italic"),
    local("Jost-BoldItalic"),
    url("fonts/vendor/jost/jost-v4-latin-700italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2021 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Satoshi Variable"),
    local("Satoshi-Variable"),
    url('fonts/vendor/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Variable.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Variable Italic"),
    local("Satoshi-VariableItalic"),
    url('fonts/vendor/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-VariableItalic.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: Satoshi;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src:
    local("Satoshi Light"),
    local("Satoshi-Light"),
    url('fonts/vendor/satoshi/Satoshi-Light.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Light.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Light Italic"),
    local("Satoshi-LightItalic"),
    url('fonts/vendor/satoshi/Satoshi-LightItalic.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-LightItalic.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Regular"),
    local("Satoshi-Regular"),
    url('fonts/vendor/satoshi/Satoshi-Regular.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Regular.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Italic"),
    local("Satoshi-Italic"),
    url('fonts/vendor/satoshi/Satoshi-Italic.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Italic.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Medium"),
    local("Satoshi-Medium"),
    url('fonts/vendor/satoshi/Satoshi-Medium.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Medium.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Medium Italic"),
    local("Satoshi-MediumItalic"),
    url('fonts/vendor/satoshi/Satoshi-MediumItalic.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-MediumItalic.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Bold"),
    local("Satoshi-Bold"),
    url('fonts/vendor/satoshi/Satoshi-Bold.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Bold.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Bold Italic"),
    local("Satoshi-BoldItalic"),
    url('fonts/vendor/satoshi/Satoshi-BoldItalic.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-BoldItalic.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Black"),
    local("Satoshi-Black"),
    url('fonts/vendor/satoshi/Satoshi-Black.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-Black.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: Satoshi;
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  src:
    local("Satoshi Black Italic"),
    local("Satoshi-BlackItalic"),
    url('fonts/vendor/satoshi/Satoshi-BlackItalic.woff2') format('woff2'),
    url('fonts/vendor/satoshi/Satoshi-BlackItalic.woff') format('woff'),
    url('fonts/vendor/satoshi/Satoshi-BlackItalic.ttf') format('truetype');
}